{% extends "erp_admin/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block head %}
<style>
  @media (min-width: 768px){
      #page-wrapper {
          position: inherit;
          margin: 0px;
      }
  }
  div.login{
    padding-top: 5em;
  }
  form.login{
    padding: 0px;
  }
  div.login-box {
    margin-bottom: 6em;
    margin-top: 3em;
    background-color: #fff;
    padding: 2em 1em;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
</style>
{% endblock head %}

{% block content %}


		<div class="login">
			<div class="login-box col-xs-12 col-sm-4 col-sm-offset-4">
			        {{ form.non_field_errors }}
			    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
			        {% csrf_token %}
            		<h2 style="margin-bottom: 10px;">{% trans "Change Password" %}</h2>

	                <div class="login-mail">
	                    {{ form.oldpassword.errors }}
	                    {{form.oldpassword}}
	                    <i class="fa fa-lock"></i>
	                </div>
	                <div class="login-mail">
	                    {{ form.password1.errors }}
	                    {{ form.password1 }}
	                    <i class="fa fa-lock"></i>
	                </div>
	                <div class="login-mail">
	                    {{ form.password2.errors }}
	                    {{ form.password2 }}
	                    <i class="fa fa-lock"></i>
	                </div>
                
                
		            <div class="col-xs-12 col-sm-10 col-sm-offset-1 login-do">
		                <label class="hvr-shutter-in-horizontal login-sub">
		                    <input type="submit" value="{% trans 'Change Password' %}">
		                </label>
		            </div>
               </form>

            </div>
           
            	<div class="clearfix"> </div>
 </div>


{% endblock %}

