{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<style >
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %} 
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{% url 'employee:view_targets' employee.id %}">Back </a>
			</div>
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h3>Add Target</h3>
		 		{% elif type == 'edit' %}
		 			<h3>Edit Target</h3>
		 		{% endif %}
		 	</div>
		</div>
 	       
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
				<div class="row">
					<div class="col-sm-12">
						{{ form.non_field_errors }}
						{{ form.field_errors }}
					</div>
				</div>
				

					
		
					<div class="form-group">
						<label for="from_date" class="col-sm-2 control-label col-xs-12">From Date</label>{{ form.from_date.errors }}
						<div class="col-sm-8">
							{{ form.from_date }}
						</div>
					</div>
					
					<div class="form-group">
						<label for="to_date" class="col-sm-2 control-label col-xs-12">To Date</label>{{ form.to_date.errors }}
						<div class="col-sm-8">
							{{ form.to_date }}
						</div>
					</div>
					<div class="form-group">
						<label for="amount" class="col-sm-2 col-xs-12 control-label">Target<span class="req">*</span></label>{{ form.amount.errors }}
						<div class="col-sm-8 col-xs-12">
							{{ form.amount }}
						</div>
					</div>

					<div class="form-group">
						<label for="to_date" class="col-sm-2 control-label col-xs-12">Percentage </label>{{ form.percentage.errors }}
						<div class="col-sm-8">
							{{ form.percentage }}
						</div>
					</div>						
					
					<div class="form-group">
						<div class="col-sm-8">
    						<button class="btn-primary btn">Submit</button>
    					</div>
    				</div>
				</form>
			</div>
		</div>			
	</div>
</div>
{% endblock content %}
{% block jsscript %}






<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
      $(document).ready(function() {
        $('.tdate').daterangepicker({
          singleDatePicker: true,
          // calender_style: "picker_4",
          showDropdowns: true,
          // maxDate:new Date(),
          
          locale: {
        		format: 'YYYY-MM-DD',
      			},


        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
</script>

<script>
// $(document).ready(function() {
//     var subtask_input = $("#id_sub_task");
//     var subtask = subtask_input.select2({
//       ajax: {
//         url: "/select_list/",
//         dataType: 'json',
//         delay: 250,
//         data: function (params) {
//           return {
//             subtask_code: params.term, // search term
//           };
//         },
//         processResults: function (data) {
//           // parse the results into the format expected by Select2
//           // since we are using custom formatting functions we do not need to
//           // alter the remote JSON data, except to indicate that infinite
//           // scrolling can be used
//           console.log(data);
//           return {
//             results: data,
//           };
//         },
//         cache: true
//       },
//       escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
//       minimumInputLength: 3,
//       // templateResult: formatRepo, // omitted for brevity, see the source of this page
//       // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
//     });
    
// });
</script>
{% endblock jsscript %}