{% extends "erp_admin/base.html" %}
{% load static %} 
{% block content %}

<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-6">
                {% if request.user == employee.user %}{% else %}<a href="/employee/"> Back</a>{% endif %}

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-6">
                 <h2>Targets of {{ employee }}</h2>
            </div>
            
               
            <div class="col-sm-6">
                <a href="{% url 'employee:add_targets' pk %}" class="btn btn-success pull-right"> Add Target</a>
            </div>
             
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
					  		<th>#</th>
					  		<th>Date</th>
					  		<th>Target</th>
                            <th>Edit</th>     
                            <th>Delete</th>     
                        </tr>
                    </thead>
                    <tbody>
                        {% for target in targets %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ target.from_date|date:'d M Y' }} - {{ target.to_date|date:'d M Y' }}</td>
 							<td>{{target.amount }}</td>
 							<td><a href="/employee/{{pk}}/editTarget/{{target.id}}/"><i class="fa fa-edit"></i></td>
                            <td><a href="{% url 'employee:delete_targets' employee.pk target.pk %}"><i class="fa fa-trash-o"></i></td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="5">No Targets</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="pagination">
                    {{ pagination|safe }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}