{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}

{% block head %}
<style>
form#activiy-form {
    padding: 10px;
}
form#activiy-form .form-group:after {
    clear:both;
}
</style>
{% endblock head %}
{% block content %}
<div class="blank">
    <div class="grid-form1">
        <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        <h4 style="margin-top:20px;">
        Activity Type
        </h4>
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form id="activity-form" class="" action="{{form_url}}" method="post">
                    {% csrf_token %}
                    {{ activity_type_form.non_field_errors }}
                    {{ activity_type_form.field_errors }}
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ activity_type_form.name.label}}</label>
                        <div class="col-sm-4">
                            {{ activity_type_form.name.errors }}{{ activity_type_form.name }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p align="right"><button class="btn-primary btn">Submit</button></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

    
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>    
$(document).ready(function() {
    $('#id_date').daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        // calender_style: "picker_4",
        minDate: new Date(),
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD h:mm',
        },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
});
</script>
{% endblock jsscript %}
