{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style>
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}
</style>

{% endblock head %}
{% block content %}


    


    <div class="content-main">
        <div class="block">
            <div class="row show-grid">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <h3>Purchase History of {{date_for_check |date:"M Y" }}</h3>
                </div>

            
                
                <div>
                    <form method="get" action="{% url 'crm:purchase_history:purchases' pk %}">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                            <button class="btn btn-primary btn-md"> Select Month & Year&nbsp;&nbsp; <i class="fa fa-arrow-right"></i> </button>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <input type="text" name="month_year" class="form-control tdate" required="required">
                            </div>
                        </div>
                        
                        
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <input type="submit" name="search" class="btn btn-primary" value="search">
                            </div>
                        </div>
                  </form>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 pull-right">
                        <!-- Button trigger modal -->
                        
                        <a class="btn btn-primary btn-sm" href="{% url 'crm:purchase_history:purchases' pk %}">Refresh</a>
                        
                        
                    </div>
                </div>                            
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Date</th>
                                <th>Amount</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for purchase in purchases %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                
                                
                                <td>{{purchase.code}}</td>
                                <td>{{purchase.created_at|date}}</td>
                                <td>{{purchase.amount}}</td>
                                
                            
                            </tr>
                            {% empty %}
                            <tr>

                            <td colspan="5">No Purchase History</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <div id="pagination" align="right">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function(){
        
$('.tdate').daterangepicker({
      "singleDatePicker": true,
       "autoUpdateInput":false,
       "autoApply": true,
       "showDropdowns": true,
      locale: {
        format: 'MMMM YYYY',
      },

    }, function(start, end, label) {
      //console.log(start.toISOString(), end.toISOString(), label);
    });
 $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MMMM YYYY'));
    });

    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });



});
</script>

{% endblock jsscript %}