{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style>
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}
</style>

{% endblock head %}
{% block content %}


<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            {# {{ filter.form }} #}
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.name.label }}</label>
                    {{ filter.form.name }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.contact.label }}</label>
                    {{ filter.form.contact }}
                </div>
            </div>
           
           
            
            <div class="clearfix"></div>
            
            
                
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
    


    <div class="content-main">
        <div class="block">
            <div class="row show-grid">
                <div class="col-sm-12 col-xs-12 col-md-12">
                        <h3>Customers</h3>
                </div>
                
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-filter"></i> Filters
                        </button>
                        <a class="btn btn-primary btn-sm" href="{% url 'crm:customers' %}">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
                        </a>
                        
                        
                    </div>
                </div>                          
            </div>
            <div class="row">
                <div class="col-sm-12 table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th>Purchase History</th>
                                <th>Payments</th>
                                <th>Activities</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contact in contacts %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td>
                                    
                                        {{ contact }}
                                  
                                </td>

                                <td><a href="{% url 'crm:purchase_history:purchases' contact.pk %}"> View All <i class="fa fa-history"> </i></a></td>

                                 <td><a href="{% url 'crm:full_payment_details' contact.id %}">View All <i class="fa fa-history"> </i></a></td>
                                <td><a href="{% url 'crm:activity:list' contact.id %}">View All <i class="fa fa-history"> </i></a></td>
                            
                            </tr>
                            {% empty %}
                            <tr>

                            <td colspan="5">No Customers</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <div id="pagination">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block jsscript %}

{% endblock jsscript %}