{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock head %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid" style="margin-bottom:300px;">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <h2>CRM</h2>
                <div class="row" style="margin-top:30px;">
                    {# <div class="col-sm-4 col-md-4 col-xs-12"> #}
                        {# <div class="border_style bg1" align="center"> #}
                            {# <a href="{% url 'crm:customers' %}"> #}
                            {# <span style="color:#ffffff;">Customers</span> #}
                            {# <div> #}
                            {# <span style="color:#ffffff;margin-top:3px;"><i class="fa fa-user fa-2x"></i></span> #}
                            {# </div> #}
                            {# </a> #}
                        {# </div> #}
                     
                    {# </div> #}
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <div class="border_style bg2" align="center">
                            <a href="{% url 'crm:campaign:campaign_list' %}">
                            <span style="color:#ffffff;">Campaigns</span>
                            <div>
                            
                            </div>
                            </a>
                        </div>
                     
                    </div>
                   
                   

                </div>
                
          </div>

        </div>
    </div>
</div>
        
   

{% endblock content %}
