{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style>
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}
</style>

{% endblock head %}
{% block content %}
    


    <div class="content-main">
        <div class="block">
            <div class="row show-grid">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <h3>Payments History</h3>
                </div>
                                       
            </div>
            <div>
                <form method="get" action="{% url 'crm:full_payment_details' custm_pk %}">
                    {% csrf_token %}

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <button class="btn btn-primary btn-md"> Select Month & Year&nbsp;&nbsp; <i class="fa fa-arrow-right"></i> </button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <input type="text" name="month_year" class="form-control tdate" required="required">
                        </div>
                    </div>
                    
                    
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                        <div class="form-group">
                            <input type="submit" name="search" class="btn btn-primary" value="search">
                        </div>
                    </div>
              </form>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 pull-right">
                    <!-- Button trigger modal -->
                    
                    <a class="btn btn-primary btn-sm" href="{% url 'crm:full_payment_details' custm_pk %}">Refresh</a>
                    
                    
                </div>
            </div>  

            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Invoice</th>
                                <th>Payment</th>
                                <th>Amount</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td>
                                    {{ payment.invoice.code }}
                                </td>
                                
                                <td>{{ payment.payment_terms.term }}</td>
                                <td>{{ payment.amount }}</td>
                                <td>{{ payment.balance }}</td>
                            </tr>
                            {% empty %}
                            <tr>

                            <td colspan="5">No Payments</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pagination" align="right">
                {{pagination|safe}}
            </div>
        </div>

    </div>
{% endblock content %}

{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function(){
        

    $('.tdate').daterangepicker({
      "singleDatePicker": true,
       "autoUpdateInput":false,
       "autoApply": true,
       "showDropdowns": true,
      locale: {
        format: 'MMMM YYYY',
      },

    }, function(start, end, label) {
      //console.log(start.toISOString(), end.toISOString(), label);
    });



    $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MMMM YYYY'));
    });

    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

});
</script>
{% endblock jsscript %}