#wrapper {
    width: 100%;
}

#page-wrapper {
    /*--padding: 0 15px;--*/
    min-height: 568px;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.errorlist li {
    padding: 0.5em;
    list-style: none;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.show-grid [class^=col-] {
    background: #fff;
    border: 0px solid rgb(234, 234, 234);
}

@media (min-width: 768px) {
    .form-inline .form-control {
        width: 100%;
    }
}

.block {
    margin: 1em;
    padding: 1em;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

html,
body {
    font-family: 'Montserrat-Regular';
    font-size: 1em;
    color: #999;
}

h4,
h5,
h6,
h1,
h2,
h3 {
    margin: 5px;
    color: #000;
}

p {
    margin: 5px;
}

.content-main {
    background-color: #F3F3F4;
    padding: 1em 0em;
}

td i {
    color: inherit;
}

i.fa-2 {
    font-size: 1.5em;
}

.c-badge {
    border: 2px solid #777;
    color: #777;
    background-color: #fff;
}

.btn {
    margin-right: 5px;
}

.mg-top-5 {
    margin-top: 5px;
}

#side-menu .active + li {
    /*background-color: #eee;*/
}

#side-menu li> a {
    color: #9b9b9b;
}


#side-menu li.active > i.nav_icon {
    color: #fff;
}

#side-menu li.active > a.hvr-bounce-to-right:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

ul.nav-second-level li a {
    color: #fff!important;
    
    font-size: 14px!important;
    
    background: #999;
}
ul.nav-second-level li.active > a {
    color: #fff;
    background-color: #337ab7;
}

ul.nav-second-level li a:hover {
    color: #d95459!important;
}

.nav>li>a:focus,
.nav>li>a:hover {
    /*background: #999;*/
    color: #d95459;
}

ul#account_menu {
    right: 0;
    left: auto;
}

span.name-caret {
    display: inline;
}

span#avatar {
    display: inline-block;
    width: 30px;
    min-height: 60px;
    vertical-align: middle;
    margin-left: 10px;
}

@media (max-width: 404px) {
    span#avatar {
        width: 0px;
    }
}
.content-main{
    position: relative;
}
#loader {
    position: absolute;
    left: 0px;
    top: -300px;
    right: 0px;
    bottom: 0px;
    /*width: 100%;
    height: 100%;*/
    z-index: 9999;
    
}

h1 a.navbar-brand {
    padding: 1% 0 10px 12%!important;
}

/*10px gutter*/
.gutter-10.row {
    margin-right: -5px;
    margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
// 0px gutter
.gutter-0.row {
    margin-right: 0;
    margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
    padding-right: 0;
    padding-left: 0;
}
