<template src='./list.template.html'></template>

<script>
import ListItem from './list-item.vue'
import Paginate from 'components/paginate.vue'
import OrderBy from './order_by.vue'
import $ from 'jquery'
import 'bootstrap'
import utils from 'contrib/utils'
import Loader from 'components/loader.vue'
import FilterBy from 'components/filter-by.vue'
import pluralize from 'pluralize'

// const All = 'All'

export default {
	
	name: 'quotation-list',
	
	// props: ['enquiries'],

	data(){
		return {
			searchQuery: '',
			sortBy: [],
			order_by_list: [],
			loading: false,
			pagination:{
				count: 0,
				current: 1,
				page_size: 3,
				link_range: 3,
			},
			choices: {
				statuses: [],
				default_status: '',
				customers: [],
			},
			filterable_data: {
				status: {
					conjoined: false,
					filter: false,
					options: [] 
				},
			},
			query: []
		}
	},
	created(){
		console.log('created quotation-list')
		this.getQuotationOptions()
		//alert("test quotations")
	},
	mounted(){
		$('.dropdown-toggle').dropdown()
	},

	components: {
		Loader,
		ListItem,
		FilterBy,
		Paginate,
		OrderBy
	},

	computed: {
		// selectedType(){
		// 	return this.type == All ? All : this.choices.types.find( type => type[0] == this.type )[1]
		// },
	},

	methods:{
		setQuery(){
			var search_query = window.location.search
			if(search_query){
				if(search_query.indexOf('?') > -1)
					search_query = search_query.substr(1)
				
				var searchQueryStrings = [search_query]
				if(search_query.indexOf('&') > -1)
					searchQueryStrings = search_query.split('&')
				
				searchQueryStrings.forEach(qs => {
					var query_array = qs.split('=')
					var obj = {}
					obj[query_array[0]] = query_array[1]
					this.query.push([query_array[0], query_array[1]])
					// this.choices[pluralize.plural(query_array[0])].find(option => option[0] == query_array[1] )[2] = true
					var index = this.filterable_data[query_array[0]].options.findIndex(option => option[0] == query_array[1] )
					this.$set(this.filterable_data[query_array[0]].options[index], 2, true)
				})
			}
			console.log(search_query, this.query)
			this.get_quotations()

		},

		getPage(page){
			this.pagination.current = Number(page)
			var index = this.query.findIndex( query => {
				return query[0] == 'page'
			})
			if(index > -1)
				this.query.splice(index,1)

			this.query.push(['page', page ])
			this.get_quotations()
		},

		query_by(prop, value, remove = false){
			console.log(prop, value, remove)
			if(remove)
				this.removePropFromQuery(prop, value)
			else
				this.query.push([prop, value ])
			this.get_quotations()
		},

		removePropFromQuery(prop, value){
			var index = this.query.findIndex( query => {
				console.log(query, prop, value)
				return query[0] == prop && query[1] == value
			})
			
			if(index > -1)
				this.query.splice(index,1)
		},

		get_url(){
			
			var queryString = utils.prepareQueryString(this.query)
			var url = window.location.protocol + '//' + window.location.host + window.location.pathname
			
			window.history.pushState({}, '', url + queryString)

			console.log(this.query, url, queryString)
			return '/api/quotations/' + queryString
		},

		order_by(ordering_list){
			console.log(ordering_list)
			if(utils.isEmpty(ordering_list.ordering))
				this.sort_by({})
			else
				this.sort_by(ordering_list)
		},
		
		getQuotationOptions() { 
			this.$http.get('/api/quotations/choices')
			.then( response => {
				this.choices.statuses = response.data.statuses
				this.choices.default_status = response.data.default_status
				
				this.setFilterableFields()
				this.setQuery()

			})
			.catch(error => {
				this.loading = false
				console.log(error)
			})
			return
		},

		setFilterableFields(){
			for (var prop in this.choices){
				var key = pluralize.singular(prop)
				if(this.filterable_data.hasOwnProperty( key )) {
					this.choices[prop].forEach(choice => {
						choice.push(false)
					})
					this.filterable_data[key]['options'] = this.choices[prop]
					this.filterable_data[key]['filter'] = false
				}
			}

		},

		get_quotations: function(){
			// this.new_enquiry = Object.assign({}, this.new_enquiry, enquiry); 
			this.loading = true
			var url = this.get_url()
			var vm = this
			this.$http.get(url)
			.then( response =>  {
				// console.log(response);
				vm.quotations = response.data.results
				vm.edit_quotation_url = response.data.form_url
				vm.pagination.count = response.data.count
				vm.pagination.page_size = response.data.page_size
				
				this.loading = false
			})
			.catch( error => {
				this.loading = false
				console.log(error)
			})
		},

	},


}    
</script>

