<template>
    <tr>
        <td>{{ index + 1 }}</td>
        <td>
            <div :class="{'has-error': errors.has('product') }">
                <select class="form-control" v-model="item.product" @change="update_product">
                   <option v-for="(prod,index) in products" :disabled="selected.includes(prod.id)" :value="prod">
                       {{ prod.name }}
                   </option>
                </select>
                <span v-show="errors.has('product')" class="help-block">
                    <i class="fa fa-warning"></i>{{ errors.first('product') }}
                </span>
            </div>
        </td>
        <td>
            <input type="text" class="form-control" v-model="item.description">
        </td>
        <td>
           <b>{{ price }}</b>
        </td>
        <td>
            <input type="number" min="1" class="form-control" v-model="item.quantity">
        </td>
        <td>
            <b> {{ item.total }} </b>
        </td>
        <td>
            <button @click.prevent="remove">X</button>
        </td>
    </tr>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
    props: {
      'index': Number,
      'item': {
        type: Object,
        default: {
          id: "",
          product: {},
          quantity: 1,
          total: 0,
          description: null,
        },
      },
      'products': Array,
      'valErrors': Array
    },
    data(){
        return {
          selected_product: null,
        }
    },

    created(){
      console.log("created edit-enquiry-item", this.item);
    },
    
    computed: {
      price(){
        if(this.product_selected)
          return this.item.product.price
        return "select a product"
      },
      product_selected(){
        return this.item.product.hasOwnProperty('price');
      },
      selected(){
        return this.products.map(product => {
          if(product.selected === true)
            return product.id
        });
      },
    },

    watch:{
      // selected_product(){
      //   if(this.product_selected){

      //     this.selected_product = 
      //   }
      // },
      item:{
        handler: function(){
          if(this.product_selected)
            this.item.total = this.item.product.price * this.item.quantity
        },
        deep: true
      },
      valErrors(){
          // this.$validator.errorBag.clear();
        this.handle_validation_errors(this.valErrors)
          // for(var key in this.valErrors){
          //     this.$validator.errorBag.add(key, this.valErrors[key][0])
          // }
      }
    },

    methods : {
      update_product() {
        // this.$set(this.item.product, 'id', this.selected_product.id)
        // this.$set(this.item.product, 'price', this.selected_product.price)
        // this.item.product = Object.assign({}, this.item.product, this.products[this.selected_product])
        this.toggle_product()
        // this.$emit("product_added", this.selected_product);

      },

      toggle_product(){
        // this.item.product.selected = !this.item.product.selected
        let prod = this.products.find(prod => prod.id == this.item.product.id)
        prod.selected = !prod.selected
        // this.products[this.selected_product].selected = !this.products[this.selected_product].selected
      },

      remove(){
        if(this.product_selected)
          this.toggle_product()
        this.$emit('remove')
      },

      handle_validation_errors(errors){
        this.$validator.errorBag.clear();
        this.update_error_bag(errors);
      },

      update_error_bag(errors){
        for(var key in errors) {
          if(errors[key].length){
            errors[key].forEach( error_msg => {
              this.$validator.errorBag.add(key, error_msg);
            });
          }else{
            this.update_error_bag(errors[key])
          }
          // this.errors.add(key, errors[key]);
          // vm.errors.push({ field: key, msg: errors[key]});
        }
      },
    }

}
</script>