{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %}
{% block head %}
{% endblock head %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            {# {{ filter.form }} #}
            
            <div class="col-sm-6">
                <div class="form-group">
                    Select Campaigns <label class="control-label">{{ form.name.label }}</label>
                    {{ f.campaign }}
                </div>
            </div>
            
        	<div class="clearfix"></div>
            
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

	
	
	<div class="blank">
		<div class="grid-form1">
				<div class="col-xs-12 col-md-12">
				<a href="{% url 'report:campaign_wise_report' %}">Back</a>
				</div>
		    	<div class="col-xs-6 col-md-6">
				<h2>Campaigns</h2>
				</div>
				<div class="col-xs-6 col-md-6">
				<a href="{% url 'report:campaign' %}" class="btn btn-primary btn-sm pull-right">
				<i class="fa fa-refresh"></i>
				Refresh</a>
				 <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-filter"></i> Filters
                        </button>
				</div>
			
				<div style="padding-top:7%!important;">
					<table class="table table-bordered">
						<thead>
							<th>Campaign</th>
							<th>Total Leads</th>
						</thead>
						
						{% for campaign in campaigns %}
							<tr>
								<td>{{ campaign }}</td>
								<td>{{campaign.customer_count}}</td>
								
							</tr>
						{% empty %}
							<tr>
								<td colspan="2">No campaigns in system</td>
								
							</tr>
						{% endfor %}
						
					</table>
				
		  	   </div>
		</div>
	</div>
{% endblock content %}
{% block jsscript %}
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/daterangepicker.js' %}"></script>
	<script type="text/javascript">
			// 	var a = document.getElementById('linkId'); //or grab it by tagname etc
			// 	var d = new Date();
	// // d.getMonth();
			// // 	var from_date =
			// 	a.href = "/reports/salesbycustomer/"
	$("#form").submit(function(){
	
		from_val = $('#from').val();
		if (from_val==""){
			var url = "/reports/salesbycustomer/";
		}
		else{
			var url = "/reports/salesbycustomer/" + $('#from').val() + "/" + $('#to').val() + "/"; // get selected value
		}
		$("#form").attr("action", url);
	});
	
	$(document).ready(function() {
		// var start = moment().subtract(29, 'days');
		//   	var end = moment();
		function cb(start, end) {
			$('#date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			$("#from").val(start.format('YYYY-MM-DD'));
			$("#to").val(end.format('YYYY-MM-DD'));
		
		}
	
		$('#date').daterangepicker({
				//   	startDate: start,
				// endDate: end,
			showDropdowns: true,
			locale: {
					format: 'YYYY-MM-DD',
				},
				ranges: {
					'Today': [moment(), moment()],
					'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
					'Last 7 Days': [moment().subtract(6, 'days'), moment()],
					'Last 30 Days': [moment().subtract(29, 'days'), moment()],
					'This Month': [moment().startOf('month'), moment().endOf('month')],
					'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				}
		}, cb);
			cb(start, end);
		
		});
	</script>
{% endblock jsscript %}