{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
td span{
    font-size: 1em;
    padding: 0px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock css %}
{% block content %}
<form class="" action="{{form_url}}" method="post" id="qForm">
    <div class="blank">
        <div class="grid-form1">
            <a href="{% url 'crm:campaign:existing_vendors' campaign.pk %}"> cancel </a>
            <h4 style="margin-top:20px;">
                {{type}} Vendor {% if type == "Edit" %} for <b>{{ vendor.name }}</b>{% endif %}
            </h4>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ vendor_form.non_field_errors }}
                    {{ vendor_form.field_errors }}
                    
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Name<span class="req">*</span></label>
                                <div class="">
                                    {{ vendor_form.name.errors }}{{ vendor_form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">{{ vendor_form.services.label}} </label>
                                <div class="">
                                    {{ vendor_form.services.errors }}{{ vendor_form.services }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Is Publisher?</label>
                                <div class="">
                                    {{ publisher_form.publisher.errors }}{{ publisher_form.publisher }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-form1">
            {{ contact_formset.management_form }}
            {% if contact_formset.non_form_errors %}
                {% for error in contact_formset.non_form_errors %}
                    <div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
                {% endfor %}
            {% endif %}
            
            <div id="contacts">
                <div class="grid-form1">
                    <h4 style="margin-top:20px;">Add Contacts</h4>
                    {% for contact_form in contact_formset %}
                        {% for hidden in contact_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    <div class="supplier-contact">
                        {{ contact_form.id }}
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">{{ contact_form.name.label }} <span class="req">*</span></label>
                                {{ contact_form.name }}
                                {{ contact_form.name.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">{{ contact_form.email.label }} <span class="req">*</span></label>
                                {{ contact_form.email }}
                                {{ contact_form.email.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">{{ contact_form.designation.label }} <span class="req">*</span></label>
                                {{ contact_form.designation }}
                                {{ contact_form.designation.errors }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">{{ contact_form.phone.label }} <span class="req">*</span></label>
                                {{ contact_form.phone }}
                                {{ contact_form.phone.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">{{ contact_form.alternate_phone.label }} </label>
                                {{ contact_form.alternate_phone }}
                                {{ contact_form.alternate_phone.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">{{ contact_form.gender.label }} </label>
                                {{ contact_form.gender }}
                                {{ contact_form.gender.errors }}
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">{{ contact_form.dob.label }} </label>
                                {{ contact_form.dob }}
                                {{ contact_form.dob.errors }}
                            </div>
                            <div class="col-sm-4">
                                {% if contact_form.instance.pk %}{{ contact_form.DELETE }}{% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <button class="btn-primary btn">Submit</button>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>




<script>
$(document).ready(function() {

    var amount = 0;
    $('.supplier-contact').formset({
      prefix: '{{ contact_formset.prefix }}',
      addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Contact">',
      deleteText: '<font color="red">REMOVE</font>',
      added: initializeFields
    });

    $("#services").select2({
    maximumSelectionLength: 10,
    allowClear: true,

    });
    // initial 
    // var total_forms_count = $('#id_placementstages_set-TOTAL_FORMS');
    // var count = parseInt(total_forms_count.val());
    // // update form count
    // total_forms_count.val(count+1);
    function initializeFields(row){
        attachDateRangePicker(row.find("input.tdate"))
    }

    function attachDateRangePicker(input_date){
        input_date.daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                  cancelLabel: 'Clear'
            }
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });

        input_date.on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY'));
        });

        input_date.on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
    }
    

    attachDateRangePicker($('input.tdate'))


    
});
</script>
{% endblock jsscript %}
