{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% block css %}
<style>
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock css %}
{% block content %}
<div class="block">
    <a href="{% url 'crm:campaign:campaign_list' %}">Cancel</a>
    <div class="row show-grid">
        <div class="col-sm-10 col-xs-12">
            <h3>
            {% if type == 'create'%}
                Add Campaign
                {% elif type == 'edit' %}
                Edit Campaign
            {% endif %}
            </h3>
        </div>
    </div>
</div>
<div class="blank">
    <div class="grid-form1" style="padding: 2%;">
        <form class="" action="{{ form_url }}" method="post" id="form">
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    <div class="row show-grid">
                        <div class="col-xs-12 col-sm-12">
                            {{ campaign_form.non_field_errors }}
                            {{ campaign_form.field_errors }}
                        </div>
                    </div>
                    
                    <div class="row show-grid">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.name.label}}<span class="req">*</span></label>
                                <div class="">
                                    {{ campaign_form.name }}{{ campaign_form.name.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.media.label}}<span class="req">*</span></label>
                                <div class="">
                                    {{ campaign_form.media }}{{ campaign_form.media.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.media_type.label}}<span class="req">*</span></label>
                                <div class="">
                                    {{ campaign_form.media_type }}{{ campaign_form.media_type.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.category.label}}<span class="req">*</span></label>
                                <div class="">
                                    {{ campaign_form.category }}{{ campaign_form.category.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.start_date.label}}<span class="req">*</span></label>
                                <div class="">
                                    {{ campaign_form.start_date }}{{ campaign_form.start_date.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.end_date.label}}<span class="req">*</span></label>
                                <div class="">
                                    {{ campaign_form.end_date }}{{ campaign_form.end_date.errors }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.location.label}}<span class="req">*</span></label>
                                <div class="">
                                    {{ campaign_form.location.errors }}{{ campaign_form.location }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.description.label}}<span class="req">*</span></label>
                                <div class="">
                                    {{ campaign_form.description }}{{ campaign_form.description.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.offer_details.label}}</label>
                                <div class="">
                                    {{ campaign_form.offer_details }}{{ campaign_form.offer_details.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ campaign_form.budget.label}}<span class="req">*</span></label>
                                <div class="">
                                    {{ campaign_form.budget }}{{ campaign_form.budget.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row show-grid">
                        <div class="col-sm-12 col-xs-12">
                            <button type="submit" class="btn-primary btn">Submit</button>   
                        </div>
                    </div>
                </div>
            </div>
            
            
        </form>
    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function() {

    $('.tdate').daterangepicker({
      "singleDatePicker": true,
       // "autoUpdateInput":false,
       "autoApply": true,
       "showDropdowns": true,
      locale: {
        format: 'YYYY-MM-DD',
      },

    }, function(start, end, label) {
      //console.log(start.toISOString(), end.toISOString(), label);
    });

});
</script>
<script>
$("#id_location").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Location",


});
</script>
{% endblock jsscript %}