{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.padbot{
    padding-bottom:2%!important;
}

</style>
{% endblock head %}

{% block content %}
<div>
    <div class="block">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <a href="{% url 'crm:campaign:vendors' campaign.pk %}">Back</a>
        </div>
        
    </div>
       
        
    </div>
    <div class="block">
        <div class="row show-grid">
        <div class="col-sm-12 col-xs-12 col-lg-6 col-md-12">
            <h4> Select vendors from existing list </h4>
            
        </div>
        <div class="col-sm-12 col-xs-12 col-lg-6 col-md-12">
        <a class="btn btn-primary btn-md  pull-right" href="{% url 'crm:campaign:add_vendor' campaign.pk %}">Add New <i class="fa fa-plus"></i></a>
        </div>
       
        <form action="{{form_url}}" method="post">{% csrf_token %}
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="control-label">Vendor </label>
                    <div class="">
                        {{ vendor_form.vendor.errors }}{{ vendor_form.vendor }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="control-label">Is Publisher ?</label>
                    <div class="">
                        {{ vendor_form.publisher.errors }}{{ vendor_form.publisher }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
            <input type="submit" class="btn btn-primary" value="Add">
            </div>
        </form>
        </div>
    </div>


</div>

{% endblock content %}

{% block jsscript %}

{% endblock jsscript %}
