{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.padbot{
    padding-bottom:2%!important;
}

</style>
{% endblock head %}

{% block content %}
<div>
    <div class="block">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <a href="{% url 'crm:campaign:customers' campaign.pk %}">Back</a>
        </div>
        
    </div>
       
        
    </div>
    <div class="block">
        <div class="row show-grid">
        <div class="col-sm-12 col-xs-12 col-lg-6 col-md-12">
            <h4> Select Students from existing list </h4>
            
        </div>
        <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
        
        <form action="{{form_url}}" method="post">{% csrf_token %}
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="control-label">student </label>
                    <div class="">
                        {{ customer_form.customer.errors }}{{ customer_form.customer }}
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
            <input type="submit" class="btn btn-primary" value="Add">
            </div>
        </form>
        </div>
        </div>
    </div>


</div>

{% endblock content %}

{% block jsscript %}

{% endblock jsscript %}
