{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.padbot{
    padding-bottom:2%!important;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}

{% block content %}
<div>
    <div class="block">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <a href="{% url 'crm:campaign:campaign_detail' campaign.pk %}">Back</a>
        </div>
        
    </div>
       
        
    </div>
    <div class="block">
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-6 col-md-12">
                    <h4> Add Target Audience to Campaign </h4>
                    
                </div>
            </div>

            <form action="{{form_url}}" method="post">{% csrf_token %}
                <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label">Gender <span class="req">*</span></label>
                        <div class="">
                            {{ target_audience_form.gender.errors }}{{ target_audience_form.gender }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label">Age Limit<span class="req">*</span></label>
                        <div class="">
                            {{ target_audience_form.age_limit.errors }}{{ target_audience_form.age_limit }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label">Income Range <span class="req">*</span></label>
                        <div class="">
                            {{ target_audience_form.income_range.errors }}{{ target_audience_form.income_range }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <input type="submit" class="btn btn-primary" value="Add">
                </div>
            </form>
        </div>
    </div>


</div>

{% endblock content %}

{% block jsscript %}

{% endblock jsscript %}
