{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style>
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.padco{
padding-bottom:10%;
}
</style>

{% endblock head %}
{% block content %}


<div class="content-main">
        <div class="block padco">
            <div class="row show-grid">
                
                <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                    <h5><a href="{% url 'crm:campaign:campaign_detail' campaign.pk %}">Back</a></h5>
                    
                </div>
            </div>
            <div class="row show-grid">
                <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                    <h3>Vendors of campaign - {{ campaign }}<a href="{% url 'crm:campaign:existing_vendors' campaign.pk %}"> <i class="fa fa-plus-square-o"></i></a></h3>
                    
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Remove</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for vendor in campaign.campaignvendors.all %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                
                                <td>
                                    <a href="{% url 'vendor:detail' vendor.vendor.pk %}">
                                    {{vendor.vendor}}
                                    </a>
                                </td>
                                <td>

                                    <form class="delete" method="post" action="{% url 'crm:campaign:remove_vendor' vendor.pk %}" onsubmit="remove(this, event)">{%csrf_token %}

                                            <button type="submit" class="fabutton">
                                            <i class="fa fa-trash"></i>
                                             </button>
                                    </form>
                                   
                                </td>
                                
                            
                            </tr>
                            {% empty %}
                            <tr>

                            <td colspan="3">No vendors added for this campaign</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <div id="pagination" align="right">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block jsscript %}

<script>

$(document).ready(function(){
        
    $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Confirm Delete')){
            this.submit()
        }
    })


});

</script>

{% endblock jsscript %}