{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.co{
    color:#d9534f;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

.list-group-item:first-child {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}


</style>
{% endblock head %}

{% block content %}
<div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-6 col-xs-6">
                <a href="">Back</a>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="pull-right">
                   <a href="{% url 'student:edit' student.code %}" class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil-square-o fa-fw"></i> Edit
                    </a> 
                    <form method="post" action="{% url 'student:delete' student.code %}" onsubmit="remove(this, event)" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-xs">
                            <i class="fa fa-trash-o fa-fw"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
            
            <div class="col-sm-12 col-xs-12">
                <h3> Student : {{student}}</h3>
                <div class="profile">
                    <div class="profile-bottom" style="width: 100%;">
                        <h3><i class="fa fa-user"></i>{{student}}</h3>
                        <div class="profile-bottom-top">
                            <div class="col-md-4 profile-bottom-img">
                                <img src="{% static 'images/user.png' %}"  width="130px" height="130px">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 profile-text">
                                <table class="col-xs-12">
                                    <tr>
                                        <td>Code :
                                            {{student.code }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Name :
                                            {{student.name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gender :
                                            {{student.gender }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Phone :
                                            <!-- <td> :</td> -->
                                            {{ student.student_contact.phone }}
                                            {% if student.student_contact.alternate_phone %}
                                              ,{{ student.student_contact.alternate_phone }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Name Of college :
                                            {{ student.name_of_college }}
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>Location :
                                            {{ student.location }}
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>Year Of Passout:
                                            {{ student.year_of_passout }}
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>Course:
                                            {{ student.course }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>           
                    </div>
                    <div style="padding-top:3%;color:#000;">
                    <h4>Address</h4>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>
                                 {{ student.student_address.addressline1 }}
                            </span>
                           
                            {% if student.student_address.addressline2 %}
                             <span> 
                             ,{{ student.student_address.addressline2 }}
                             </span>
                            {% endif %}
                           
                             {% if student.student_address.area %}
                            <span> ,{{ student.student_address.area }} </span>
                            {% endif %}

                            {% if student.student_address.country.name  %}
                            <span> <br>{{student.student_address.country.name }}</span>
                            {% endif %}

                            {% if student.student_address.state.name  %}
                            <span>, {{student.student_address.state.name }} </span>
                            {% endif %}

                            {% if student.student_address.city.name  %} 
                            <span> ,{{student.student_address.city.name}} </span>
                            {% endif %}

                             {% if student.student_address.zipcode  %} 
                            <span>  -{{student.student_address.zipcode}} </span>
                            {% endif %}

                                                    
                        </li>
                           
                    </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block jsscript %}
<script>
function remove(form, e){
    e.preventDefault()
    if(confirm('Confirm Delete')){
        form.submit()
    }
}

</script>

{% endblock jsscript %}
