<template>
<div class="dropdown filter">
	<button class="btn btn-default dropdown-toggle" type="button" :id="column + '-filter'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ column | titleCase }} <i class="fa fa-caret-down"></i></button>
	<ul class="dropdown-menu dropdown-menu-right" :aria-labelledby="column + '-filter'">
		<!-- <li v-show="selected_options.length" @click="clear(column)"> clear </li> -->
		<li v-for="option in data.options">
			<input type="checkbox" v-model="option[2]" @change.prevent="update($event, option[0])"> <span class="display-text">{{ option[1] }}</span>
		</li>
	</ul>
</div>
</template>

<script>

export default {
	name: 'dropdown-checkbox',
	props: {
		data: {
			type: Object,
		},
		column: {
			type: String,
			default: ''
		},
		
	},
	data(){
		return {
			selected_options: []
		}
	},

	computed: {
		
	},
	
	methods:{
		update(e, value){
			if(e.target.checked)
				this.selected_options.push(value)
			else
				this.selected_options.pop(value)

			this.$emit('update', this.column, value, !e.target.checked)
		},


		classObject({active, asc}){
			return {
				'active': active,
				'asc': asc
			}
		},
		
		format(prop){
			console.log(prop)
			if(prop.asc)
				return prop.field
			return '-' + prop.field
		
		},
	}
}
</script>

<style>
.filter li {
	padding: 5px 10px;
}
.filter li .display-text {
	padding-left: 10px;
}
</style>
