<template src="./edit_enquiry.template.html"></template>

<script>
import Select2 from "./select2.vue"
import Item from "./item.vue"
import { ErrorBag } from 'vee-validate';

const errorBag = new ErrorBag();

export default {
  // delimiters: ['{{', '}}'],
  template: "#edit-enquiry",
  props: ['formAction', 'newEnquiry', "show"],
  // name: 'edit-enquiry',
  data() {
    return {
      choices: {
        statuses: [],
        default_status: "",
        types: [],
        default_type: "",
        customers: [],
        products: [],
      },
    }
  },
  components: { 
    "customer-select2": Select2,
    "item": Item,
  },

  created(){
    console.log("created edit-enquiry");
    this.get_enquiry_options();
  },

  computed: {
    customerOptions: function () {
      // console.log(this.newEnquiry);
      // // debugger;
      // if (this.newEnquiry.id){
      //   var customer = this.newEnquiry.customer;
      //   // this.new_enquiry_options.customers = [{'id': customer.id, 'text': customer.name}];
      //   return [{'id': customer.id, 'text': customer.name}];
      // }
      return [];
    },

  },

  methods: {
    get_enquiry_options: function(){
      // this.new_enquiry = Object.assign({}, this.new_enquiry, enquiry); 
      var self = this;
      this.$http.get('/api/enquiries/choices')
      .then(function (response) {
        console.log(response);
        self.new_enquiry_options = response.data;
        // console.log(response);
        self.choices = response.data;

      })
      .catch(function (error) {
        console.log(error);
      });
    },

    saveEnquiry: function(e){
      console.log(e)
      var vm = this;
      var method = "POST";
      var url = this.formAction;
      if (this.newEnquiry.id){
        url += this.newEnquiry.id + '/';
        method = "PUT";
      }

      // console.log(vm.formData());
      this.$http({
        method: method,
        url: url,
        data: vm.formData()
      })
      .then(function (response) {
        console.log(response);
        vm.$validator.errorBag.clear();
        vm.$emit('enquiry_saved', vm.newEnquiry, response.statusText)
        // vm.enquiries.push(response.data);
        // vm.new_enquiry = {};
      })
      .catch(function (error) {
        console.log(error);
        if (error.response) {
          if(error.response.status == 400)
            vm.handle_validation_errors(error.response.data);
        }
      });
    },

    formData() {
      return { 
        // 'data': {
          'name': this.newEnquiry.name,
          'type': this.newEnquiry.type,
          'status': this.newEnquiry.status,
          'note': this.newEnquiry.note,
          'follow_up_date': this.newEnquiry.follow_up_date,
          'reason_for_lost': this.newEnquiry.reason_for_lost,
          'customer': this.newEnquiry.customer,
          'items': this.newEnquiry.items,
          'amount': this.newEnquiry.amount
        // }
      };
    },

    handle_validation_errors(errors){
      var vm = this;
        vm.$validator.errorBag.clear();
        for(var key in errors) {
          console.log(key, errors[key]);
          errors[key].forEach(function(error_msg){
            vm.$validator.errorBag.add(key, error_msg);
          });
          // this.errors.add(key, errors[key]);
          // vm.errors.push({ field: key, msg: errors[key]});
        }
    },
  }
}
</script>