<template>
<div>
	<span>Filter By: </span>
	<ul class="list-inline" style="display: inline-block;">
		<li v-for="(value, field) in fields">
			<dropdown-checkbox :data="value" :column="field" v-on:update="updateActiveFields"></dropdown-checkbox>
			<!-- <div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" :id="field + '-filter'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ field | titleCase }}</button>
				<ul class="dropdown-menu dropdown-menu-left" :aria-labelledby="field + '-filter'">
					<li v-show="isFieldSelected(field)" @click="clear(field)">clear</li>
					<li v-for="option in value.options">
						<input type="checkbox" v-model="option[2]" @change.prevent="updateActiveFields($event, field, option[0], value.filter)">{{ option[1] }}
					</li>
				</ul>
			</div> -->
		</li>
	</ul>
</div>
</template>

<script>
import DropdownCheckbox from 'components/dropdown-checkbox.vue'

export default {
	name: 'filter-by',
	props: {
		fields: {
			type: Object,
		},
		resourceName: {
			type: String,
			default: ''
		}
		
	},
	data(){
		return {
			selected_options: []
		}
	},

	components: {
		DropdownCheckbox
	},
	
	methods:{
		updateActiveFields(field, value, remove){
			this.$emit('filter-by', field, value, remove)
		},

		isFieldSelected(field){
			return this.fields[field].options.findIndex( option => option[2] === true ) > -1
		},

		classObject({active, asc}){
			return {
				'active': active,
				'asc': asc
			}
		},
		
		format(prop){
			console.log(prop)
			if(prop.asc)
				return prop.field
			return '-' + prop.field
		},
	}
}
</script>
