<template>
<nav class="pagination-nav">
	<ul class='pagination'>
		<li :class="{ 'disabled': has_previous}">
			<a :href="prev_page_url" aria-label="Previous" @click.prevent="update(has_previous, prev_page)"><span aria-hidden='true'>«</span></a>
		</li>
		<li v-for="p in pages" :class="{active: p == current}">
			<a :href="url + '?page=' + p" @click.prevent="update(true, p)">{{ p }}</a>
		</li>
		<li :class="{ 'disabled': has_next}">
			<a :href="next_page_url" aria-label="Next"  @click.prevent="update(has_next, next_page)"><span aria-hidden="true">»</span></a>
		</li>
	</ul>
	<span>Total {{records}} {{recordType}} </span>
</nav>
</template>

<script>
export default {
	name: 'paginate',
	props: {
		records:{
			type: Number,
			default: 0
		},
		current: {
			type: Number,
			default: 1,
		},
		pageSize: {
			type: Number,
			default: 3
		},
		linkRange: {
			type: Number,
			default: 2
		},
		recordType: String	
	},
	
	data(){
		return {
			url: window.location.href
		}
	},

	computed: {
		has_previous(){ return this.current == 1 },
		has_next(){ return this.current == this.totalPages },
		prev_page(){ return this.current - 1 },
		prev_page_url(){ return this.url + '?page='+ this.prev_page },
		next_page(){ return this.current + 1 },
		next_page_url(){ return this.url + '?page='+ this.next_page },
		pages(){ 
			var pages = []
			if(this.records){
				// console.log(this.current)
				var p = this.current - this.linkRange
				if(p < 1)
					p = 1
				while(p <= this.current){
					pages.push(p)
					++p
				}
				while(p < (this.current + this.linkRange) && p <= this.totalPages){
					pages.push(p)
					++p
				}
			}
			// console.log(pages)
			return pages
		},
		totalPages() {
			return this.records ? Math.ceil(this.records / this.pageSize) : 1
		},
	},

	methods: {
		update(disabled = false, page){
			if(!disabled)
				this.$emit('get-page', page )
		}
	}

}
</script>

<style>
.pagination-nav {
	display: table;
}
.pagination-nav span {
	display: table-cell;
	vertical-align: middle;
}
</style>