{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %}
{% block head %}
{% endblock head %}
{% block content %}
   
        
        
        
<div class="blank">
    <div class="grid-form1" style="padding-bottom:100px;">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12" align="right">
                    <a href="{% url 'employee:employee_incentives' employee.pk %}">Back</a>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12">
                 <h3>Incentive List</h3>
            </div>
            <div class="col-sm-12" style="padding-top:20px;">
               
                
                <table class="table table-bordered">
                    <thead>
                        <th><h4>Month & Year</h4></th>
                        <th><h4>Amount</h4></th>
                        <th><h4>Status</h4></th>
                        <th></th>
                        
                    </thead>
                    {% for payout in payouts %}
                        <tr>


                            <td>{{payout.request_date|date:"M/Y"}}</td>
                            <td><i class="fa fa-inr"></i>{{payout.amount}}</td>
                            <td><mark>{{payout.status|title}}</mark></td>
                            <td>
                            {% if payout.employee.reporting_officer == request.user.employee %}
                             {% if payout.status == "approved" %}
                             {% else %}
                            <a href ="{% url 'employee:approve_incentive' employee.pk payout.pk %}" class="btn btn-primary">Approve <i class="fa fa-arrow-right"></i></a>
                            {% endif %}
                            {% endif %}
                            </td>
                            

                        </tr>
                    {% empty %}
                      <tr> <td colspan="4">No Incentives added yet</td></tr>
                   {% endfor %}
                </table>


            </div>
            
            
        </div>
    </div>
</div>
{% endblock content %}
{% block jsscript %}

{% endblock jsscript %}