{% extends "erp_admin/base.html" %} {% load static %} {% block content %}
<style>

.cl {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid rgb(234, 234, 234);
    margin-top: 30px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                {% if not edit %}
                <h4>Add Loyality Credit Slab</h4>{% endif %} {% if edit %}
                <h4>Edit Loyality Credit Slab Details</h4>{% endif %}
                <a href="{% url 'employee:slab_list' %}" class="btn btn-danger pull-right">Cancel</a>
            </div>
        </div>
        <form role="form" class="form-horizontal" method="post" action="{{ form_url }}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="panel-body cl">
                
                <div class="form-group {% if slab_form.start_value.errors %} has-error{% elif slab_form.is_bound %} has-success{% endif %}" style="margin-top:30px;">
                    <label class="col-md-2 control-label">{{ slab_form.start_value.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ slab_form.start_value.errors }}{{ slab_form.start_value }}
                    </div>
                </div>
                
                <div class="form-group {% if slab_form.end_value.errors %} has-error{% elif slab_form.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ slab_form.end_value.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ slab_form.end_value.errors }}{{ slab_form.end_value }}
                    </div>
                </div>
                <div class="form-group {% if slab_form.employee_type.errors %} has-error{% elif slab_form.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ slab_form.employee_type.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ slab_form.employee_type.errors }}{{ slab_form.employee_type }}
                    </div>
                </div>
                <div class="form-group {% if slab_form.amount.errors %} has-error{% elif slab_form.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ slab_form.amount.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ slab_form.amount.errors }}{{ slab_form.amount }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><input type="submit" name="Save" class="btn pull-right"></div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %} 
