{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %}

{% block head %}


{% endblock head %}
{% block content %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid" style="margin-bottom:300px;">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <a href="{% url 'employee:list'%}">Back</a>
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12">
               <h4>Performance Report </h4>

                <div class="row" style="margin-top:30px;">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <div id="line-example"></div>
                     
                    </div>
                    
                </div>
                
          </div>
          

        </div>
    </div>
</div>
       


{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/raphael/raphael.js/' %}"></script>
<script src="{% static 'js/morris.js' %}"></script>


<script>
Morris.Bar({
  element: 'line-example',
   data: [
{% for key,value,b,c in x %}
    {"y":{{value}},"a":'{{key}}',"b":{{b}},"c":{{c}}},
{% endfor %}
],
xkey: 'a',
ykeys: ['c','b','y'],
labels: ['Target','Open Leads','SuccessFull Leads'],
lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],



});
</script>
{% endblock jsscript %}