{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h2>
                    Employees
                    <a href="{% url 'employee:create' %}" class="btn btn-link">
                     <i class="fa fa-plus-square-o fa-2x"></i>
                    </a>
                </h2>
                <!--
                    {% if request.user.is_staff %}<a href="{% url 'employee:slab_list' %}" class="btn btn-success pull-right">Set Incentive Slabs</a>{% endif %}
                -->
               

                <!--<a href="{% url 'employee:incentive_list' %}" class="btn btn-success pull-right">Incentive List</a>-->


            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                              <a href="{% url 'employee:profile' employee.code %}">
                               {{employee.code}}
                               </a>
                            </td>
                            <td>
                                {{employee.user.first_name}}
                            </td>
                            
                            
                            {% if perms.employee.change_employee %}
                            <td>
                                 <a href="{% url 'employee:edit' employee.code %}" class="pull-right">
                                <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            {% endif %}
                            {% if perms.employee.delete_employee %}
                            <td>
                                 <a href="{% url 'employee:delete' employee.code %}" class="pull-right">
                                <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="4">No Employees in System</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
