{% extends "erp_admin/base.html" %}
{% block title %} Profile{% endblock title %}
{% block content %}
<style>
.btn{
text-align: left!important;
}
.cl{
padding:30px;
border: 1px solid rgb(234, 234, 234);
margin-left:3px;
}
.cl1{
padding:20px;
border: 1px solid rgb(234, 234, 234);
margin-left:20px;
margin-right:20px;
margin-top:0px!important;
}
.profile-bottom{
width:100%!important;
margin-bottom:0px!important;
}
.profile {
min-height: 430px!important;
}
</style>
<div class="blank">
    <div class="blank-page">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <h2></h2>
                {% if request.user.is_staff %}<a href="{% url 'employee:list' %}" >Back</a>{% endif %}
            </div>
            <!-- Example split danger button -->

            <div class="col-xs-12 col-sm-3 pull-right">
                <!--<div class="dropdown">
                    <button id="dLabel" class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     View More
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel"> 
                        <li>
                            <a href="" class="btn btn-link"> </a>
                                
                        </li>
                       
                        <li> 
                            <a href="{% url 'employee:add_targets' employee.pk %}" class="btn btn-link"> 
                                 Add Target 
                            </a>
                        </li> 
                    
                        <li> 
                            <a href="{% url 'employee:view_targets' employee.pk %}" class="btn btn-link"> 
                               View Target 
                            </a> 
                         </li> 
                    </ul> 
                    
                </div>-->
            </div>
        </div>
        <div class="profile">
            <div class="profile-bottom">
                <h3><i class="fa fa-user"></i>Profile</h3>
                <div class="profile-bottom-top">
                    <div class="col-md-4 profile-bottom-img">
                        {% if employee.photo %}<img src="{{employee.photo.url}}" width="130px" height="130px">{% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 profile-text">
                        <h6>{{employee.user.first_name}}</h6>
                        <table class="col-xs-12">
                            <tr><td>Employee Code:
                                <!-- <td>:</td> -->
                            {{employee.code}}</td>
                        </tr>
                        <tr><td>Designation :
                            <!-- <td>:</td> -->
                        {{employee.primary_designation.name }}</td>
                    </tr>
                    
                    <tr>
                        <td>Email :
                            <!-- <td> :</td> -->
                            <a href="{{employee.user.email}}">{{employee.user.email}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Country :
                            <!-- <td>:</td> -->
                            {{employee.employee_address.country.name}}
                        </tr>
                    </table>
                    {% if request.user.is_staff %}
                        <a href="{% url 'employee:edit' employee.code %}" class="btn bg-success pull-right">Edit Profile</a>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            
            
            
            
        </div>
    </div>
    <div class="row cl1">
        <div class="">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1"><h3>Personal Details</h3></a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">Date Of Birth :{{employee.dob|date:'d M Y'}}</div>
                            {% if employee.gender %}
                                <div class="panel-body">Gender : {{employee.gender}}</div>
                            {% endif %}
                            {% if employee.marital_status %}
                            <div class="panel-body">Marital Status : {{employee.marital_status}}</div>
                            {% endif %}
                            {% if employee.blood_group %}
                            <div class="panel-body">Blood Group : {{employee.blood_group}}</div>
                            {% endif %}
                            {% if employee.languages_known %}
                            <div class="panel-body">Languages known : {{employee.languages_known}}</div>
                            {% endif %}
                            <!--<div class="panel-body">Birth Place : {{employee.birth_place}}</div>-->
                            <!--<div class="panel-body">Cast : {{employee.cast}}</div>
                            <div class="panel-body">Religion : {{employee.religion}}</div>-->
                             {% if employee.citizenship %}
                            <div class="panel-body">Citizenship : {{employee.citizenship}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2"><h3>Contact Details</h3></a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Contact Address
                            </div>
                            <div class="panel-body">
                                <address>
                                    {{employee.employee_address.addressline1}},
                                    {% if employee.employee_address.addressline2 %}
                                    {{employee.employee_address.addressline2}}</br>
                                    {% endif %}
                                    {% if employee.employee_address.area %}
                                    {{employee.employee_address.area}}
                                    {% endif %}
                                    {% if employee.employee_address.city %}
                                    {{employee.employee_address.city}}</br>
                                    {% endif %}
                                    {% if employee.employee_address.state %}
                                    {{employee.employee_address.state}}</br>
                                    {% endif %}
                                    {% if employee.employee_address.country %}
                                    {{employee.employee_address.country}}-
                                    {% endif %}
                                    {% if employee.employee_address.zipcode %}
                                     {{employee.employee_address.zipcode}}
                                    {% endif %}
                                </address>
                            </div>
                            <div class="panel-body">
                                Phone Number : {{employee.employee_contact.phone}}
                            </div>
                            <div class="panel-body">
                                {% if employee_contact.alternate_phone %} 
                                Alternate Phone Number : {{employee.employee_contact.alternate_phone}}
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3"><h3>Company Details</h3></a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Office Address :  </div>
                            {% if employee.primary_designation.location.name %}
                            <div class="panel-body">Location : {{employee.primary_designation.location.name}}</div>
                            {% endif %}
                            {% if employee.primary_designation.office.name %}
                            <div class="panel-body">Office : {{employee.primary_designation.office.name}}</div>
                            {% endif %}
                            {% if employee.primary_designation.department.name %}
                            <div class="panel-body">Department : {{employee.primary_designation.department.name}}</div>
                            {% endif %}
                            {% if employee.primary_designation.division.name %}
                            <div class="panel-body">Division : {{employee.primary_designation.division.name}}</div>
                            {% endif %}
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse4"><h3>Designation & Reporting Officer</h3></a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            
                            <div class="panel-body">Primary Designation : {{employee.primary_designation.name}}</div>
                            
                            <div class="panel-body">
                            {% if employee.reporting_officer.user.first_name %}

                                Reporting Officer : {{employee.reporting_officer.user.first_name}} &nbsp;{{employee.reporting_officer.user.last_name}}-
                            
                            {{employee.reporting_officer.primary_designation.name}}
                            {% endif %}
                        </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}