{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %}
{% block head %}
{% endblock head %}
{% block content %}
	<div class="row" style="padding: 16px;">
		<form id="form" action="" method="post">
			{% csrf_token %}
			<div class="col-sm-4">
				<div id="date" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
					<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
					<span>{% if from_date %}{{from_date}}-{{to_date}} {% else %} {{today|date:"F"}} {{today|date:"Y"}} {% endif %}</span><b class="caret"></b>
				</div>
			</div>
			<input type="hidden" name="from" id="from" required>
			<input type="hidden" name="to" id="to" required>
			<div class="col-sm-3">
				<input type="submit" name="search" value="Search" class="btn">
			</div>
		</form>
	</div>
	
	
	
	<div class="blank">
		<div class="grid-form1">
			<p style="font-size: 24px;text-align: center;color: #000;">Sales by Customer</p>
			<p style="font-size: 14px;text-align: center;color: #000;">
				{% if from_date %}
					From {{from_date}}  To {{to_date}}
				{% else %}
					{{today|date:"F"}} {{today|date:"Y"}}
				{% endif %}
			</p>
			<table class="table table-bordered">
				<thead>
					<th>Customer</th>
					<th>Invoice Count</th>
					<th>Sales</th>
				</thead>
				
				{% for invoice in list %}
					<tr>
						<td>{{ invoice.contact__customer__name }}</td>
						<td>{{ invoice.contact_count }}</td>
						<td><i class="fa fa-inr" aria-hidden="true"></i>{{ invoice.amount }}</td>
					</tr>
				{% endfor %}
				<tr>
					<td style="color: #d95459!important;font-size: 20px;">Total</td>
					<td colspan="2" style="color: #d95459!important;font-size: 20px;"><i class="fa fa-inr" aria-hidden="true"></i>{{ total.amount__sum }}</td>
				</tr>
			</table>
		</div>
	</div>
{% endblock content %}
{% block jsscript %}
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/daterangepicker.js' %}"></script>
	<script type="text/javascript">
			// 	var a = document.getElementById('linkId'); //or grab it by tagname etc
			// 	var d = new Date();
	// // d.getMonth();
			// // 	var from_date =
			// 	a.href = "/reports/salesbycustomer/"
	$("#form").submit(function(){
	
		from_val = $('#from').val();
		if (from_val==""){
			var url = "/reports/salesbycustomer/";
		}
		else{
			var url = "/reports/salesbycustomer/" + $('#from').val() + "/" + $('#to').val() + "/"; // get selected value
		}
		$("#form").attr("action", url);
	});
	
	$(document).ready(function() {
		// var start = moment().subtract(29, 'days');
		//   	var end = moment();
		function cb(start, end) {
			$('#date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			$("#from").val(start.format('YYYY-MM-DD'));
			$("#to").val(end.format('YYYY-MM-DD'));
		
		}
	
		$('#date').daterangepicker({
				//   	startDate: start,
				// endDate: end,
			showDropdowns: true,
			locale: {
					format: 'YYYY-MM-DD',
				},
				ranges: {
					'Today': [moment(), moment()],
					'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
					'Last 7 Days': [moment().subtract(6, 'days'), moment()],
					'Last 30 Days': [moment().subtract(29, 'days'), moment()],
					'This Month': [moment().startOf('month'), moment().endOf('month')],
					'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				}
		}, cb);
			cb(start, end);
		
		});
	</script>
{% endblock jsscript %}