{% extends "erp_admin/base.html" %} {% load guardian_tags %}
{% block head %}
<style>
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
</style>
{% endblock head %}
 {% block content %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                
                <a href="{% url 'employee:list' %}" >Back</a>

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <h2>Incentive Slabs</h2>
                <a href="{% url 'employee:add_slab' %}" class="btn btn-success pull-right">Add Incentive Slabs</a>

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Leads Scale</th>
                            <th>Employee Type</th>
                            <th>Incentive Amount</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for slab in slabs %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                               {{slab.start_value}}-{{slab.end_value}}
                               
                            </td>
                            <td>
                                {{slab.employee_type}}
                            </td>
                            <td>
                                {{slab.amount}}
                            </td>
                            
                            <td>
                                 <a href="{% url 'employee:edit_slab' slab.pk %}" class="pull-right">
                                <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            
                            <td>
                                <form class="delete" method="post" action="{% url 'employee:delete_slab' slab.pk %}" onsubmit="remove(this, event)">
                                        {% csrf_token %}
                                            <button type="submit" class="fabutton">
                                                <i class="fa fa-trash-o fa-fw"></i>
                                            </button>
                                </form>
                            </td>
                            
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="5">No data</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block jsscript %}
<script type="text/javascript">
    $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Confirm Deletion')){
            this.submit()
        }
    })
</script>
</script>
{% endblock jsscript %}