{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
{% load staticfiles %}
{% block head %}
<style>
.border-style{
    border:2px;
    box-shadow:1px;
    
}
</style>
{% endblock head %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid" style="margin-bottom:300px;">
            <div class="col-sm-6 col-md-6 col-xs-6">
                <a href="{% url 'employee:list'%}">Back</a>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6" align="right">
            <a href="{% url 'employee:all_incentives' employee.pk %}" class="btn btn-primary"> Requested Incentives<i class="fa fa-arrow-right"></i></a>
            </div>
            
               

                <div class="row" style="">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <div class="well">
                           <h3>Incentive Details <i class="fa fa-gift" aria-hidden="true"></i></h3>
                        
                            <hr>

                                
                                 <p style="color:#000;"><strong> Name : </strong> {{employee.user.first_name}}</p>
                                 <p style="color:#000;"><strong> Month & Year : </strong> {{date|date:"M/Y"}}</p>
                                 <p style="color:#000;"><strong> No.Of  Leads : </strong>{{enquiries}}</p>
                                  <p style="color:#000;"><strong> Total Amount  : </strong> {{credit}}</p>
                                 
                            <hr>
                        
                            
                        </div>
                     
                    </div>
                    
                   
                </div>
                {% if credit > 0 %}
                {% if request.user.employee == employee %}
                <div class="row">
                   
                    <div class="col-sm-12 col-md-12 col-xs-12">

                            {% if pay_out != 0 %}
                            <a class="btn btn-success pull-right">
                            <i class="fa fa-check"></i>
                            {{pay_out.status|title}}</a>
                            {% else %}
                            <a href="{% url 'employee:request_for_payout' employee.pk %}" class="btn btn-success pull-right">
                            Request for Payout <i class="fa fa-arrow-right"></i></a>
                            {% endif %}
                    </div>
                   
                </div>
                {% endif %}
                {% endif %}
                
          </div>

        </div>
    </div>
</div>
        
   

{% endblock content %}
