<div id="enquiry-block">
    <div class="block">
        <button @click="add_enquiry"
                class="btn"
                :class="{ 'btn-primary': !edit_form, 'btn-danger': edit_form }"
        >
            {{ edit_form ? "Cancel" : "Add Enquiry" }}
        </button>
        <edit-enquiry v-if="edit_form"
                      :edit-enquiry="enquiry"
                      @enquiry_saved="enquiry_saved"
        >
        </edit-enquiry>
    </div>
    <enquiry-list v-if="enquiry_list"
                  enquiries="enquiries"
                  @view-enquiry="view_details"
    ></enquiry-list>

    <enquiry-detail v-if="view_enquiry"
                    :enquiry=enquiry
    ></enquiry-detail>
    
    <router-view></router-view>
    <!--<pre>{{ $data }} </pre>-->
</div>