{% extends "erp_admin/base.html" %}
{% load static tz util group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
.req{
  color:#FC0404!important;
  font-size:20px!important;
}


</style>

{% endblock css %}
{% block content %}
<form class="" action="{{form_url}}" method="post" id="qForm" enctype="multipart/form-data">
    <div class="blank">
        <div class="grid-form1">
            {% if type == "Edit" %}
            <a href="{% url 'product:view_products' %}">Back </a>
            {% else %}
            <a href="{% url 'product:view_products' %}">Cancel </a>
            {% endif %}
            
            
            <h4 style="margin-top:20px;">
                {% if type == 'add' %}
                    <h4>Create New Program</h4>
                {% elif type == 'edit' %}
                    <h4>Edit Program {{product.code}}</h4>
                {% endif %}
            </h4>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.field_errors }}
                   
                    
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Name<span class="req">*</span></label>
                                <div class="">
                                    {{ form.name.errors }}{{ form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Accademic Eligibility<span class="req">*</span></label>
                                <div class="">
                                    {{ form.accademic_eligibility.errors }}{{ form.accademic_eligibility }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                               <label class="control-label">Total Fee in INR<span class="req">*</span></label>
                                <div class="">
                                    {{ form.total_fee }}
                                    {{ form.total_fee.errors }}
                                </div>
                            </div>
                        </div>
                        
                    </div>

                 <div class="row">

                     <div style="padding-top:3%;"><button class="btn btn-primary btn-md pull-right">Submit</button></div>
                    
                </div>

            </div>


            </div>
            
        </div>


    </div>

</form>

{% endblock content %}
{% block jsscript %}


{% endblock jsscript %}
