{% extends "erp_admin/base.html" %} 
{% load static tz %} 
{% get_current_timezone as TIME_ZONE %} 
{% block head %}
<style>
.row{
    margin-left:5px;
    margin-right:5px;
}
.tdCenter {
    text-align:right; /* center textbox horizontally */
    vertical-align: middle; /* center textbox vertically */

}
.text_size{
    font-size:18px!important;
    color:#000000!important;
}
mark {
    background-color:#f0ad4e;
    color:#ffffff;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
</style>
{% endblock head %} 
{% block content %}

<div id="quotation-block" v-cloak>
    <div class="block">
        <a href="{{ request.META.HTTP_REFERER }}">Back </a>
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Program : {{ product.name }}</h3>
                </div>
                {% if request.user.is_staff %}
                            
                    <div class="col-sm-2" align="right">
                    <a href="{% url 'product:edit_product' product.pk %}"><i class="fa fa-edit"></i></a>
                    </div>
                    <div class="col-sm-2" align="right">
                        <form method="post" action="{% url 'product:delete' product.pk %}" onsubmit="remove(this, event)">
                            {% csrf_token %}
                            <button type="submit" class="fabutton">
                                <i class="fa fa-trash-o fa-fw"></i> 
                            </button>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" style="text-align: center; font-size: 20px; color:black;">Program Details</td>
                        </tr>
                        {% if request.user.is_staff %}
                        <tr>
                            <th>Name</th>
                            <td>{{ product.name }}</td>
                        </tr>
                        <tr>
                            <th>Accademic Eligibility</th>
                            <td>{{ product.accademic_eligibility }}</td>
                        </tr>
                        <tr>
                            <th>Total Fee in INR</th>
                            <td><i class="fa fa-inr" aria-hidden="true"></i>{{ product.total_fee }}</td>
                        </tr>
                        
                        {% endif %}
                       
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
    




{% endblock content %} 

{% block jsscript %}

<script>
$(document).ready(function(){
    

    function remove(form, e){
        e.preventDefault()
        if(confirm('Confirm Delete')){
            form.submit()
        }
    }

});
</script>

{% endblock jsscript %}
