{% extends "erp_admin/base.html" %}
{% load static guardian_tags group_required %}
{% block head %}
<style type="text/css">
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}
@media print {

  a[href]:after {
    content: none!important;
  }
  .noprint{
    display:none!important;

  }
  }
</style>
{% endblock head %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
           
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.name.label }}</label>
                    {{ filter.form.name }}
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Accademic Eligibility</label>
                    {{ filter.form.accademic_eligibility }}
                </div>
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
         <h2>
            Programs
            <a href="{% url 'product:add_products' %}" class="btn btn-link">
                <i class="fa fa-plus-square-o fa-2x"></i>
            </a>
         </h2>
            
        </div>
        <div class="row">
            <div class="pull-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                Apply Filters
                </button>
                <a href="{% url 'product:view_products' %}" class="btn btn-primary">Refresh</a>
                <a onclick="printDiv()" class="btn btn-primary btn-md pull-right" target="_blank"> <i class="fa fa-print fa-fw"></i> Print</a>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
            <div id="print_data">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            
                           {% if request.user.is_staff %}
                            
                                <th class="noprint">Edit</th> 
                                <th class="noprint">Delete</th>   
                            {% endif %} 
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ forloop.counter0|add:products.start_index }}</td>
                            <td>
                                <a href="{% url 'product:detail' product.pk %}">
                                    {{product.name }}
                                </a>
                            </td>
                           
                            {% if request.user.is_staff %} 
                            
                            <td class="noprint">
                               <a href="{% url 'product:edit_product' product.pk %}"><i class="fa fa-edit"></i></a>
                            </td>
                            <td class="noprint">
                                <form method="post" action="{% url 'product:delete' product.pk %}" onsubmit="remove(this, event)">
                                    {% csrf_token %}
                                    <button type="submit" class="fabutton">
                                        <i class="fa fa-trash-o fa-fw"></i> 
                                    </button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="5">No Programs</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            <div id="pagination">
                <!-- {{ pagination|safe }} -->
                {% if products.has_other_pages %}
                      <ul class="pagination">
                        {% if products.has_previous %}
                          <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                          {% if products.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                          <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block jsscript %}

<script>
$(document).ready(function(){
    

    function remove(form, e){
        e.preventDefault()
        if(confirm('Confirm Delete')){
            form.submit()
        }
    }

});
</script>
<script type="text/javascript">
    function printDiv() {    
    var printContents = document.getElementById('print_data').innerHTML;
    

    var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;
    
     window.print();
     document.body.innerHTML = originalContents;
    }
    $("#pagination a").click(function(e){
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)
        
        var query_string = ""   
        var search_query = window.location.search
        var query_obj = {}
        if(search_query){
            if(search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)
            
            var searchQueryStrings = [search_query]
            if(search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')
            
            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })
        }
        
        query_obj['page'] = page_string.split('=')[1]
        for(var k in query_obj){
            query_string += k + '=' + query_obj[k] + '&'
        }
        
        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })
</script>    


{% endblock jsscript %}
