{% extends "erp_admin/base.html" %}
{% load static tz group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}


<style>
.btn {
    border-radius: 8px!important;
    }
.row{
    margin-left:5px;
    margin-right:5px;
}
.tdCenter {
    text-align:right; /* center textbox horizontally */
    vertical-align: middle; /* center textbox vertically */

}
.text_size{
    font-size:18px!important;
    color:#000000!important;
}
.lecolor
{
    color:#00ABE7!important;
}
.thcolor
{
color:#000;
}
mark {
    background-color:#000;
    color:#ffffff;
    border-radius:6px!important;
}
</style>
{% endblock head %} {% block content %}

<div>
    <div class="block">
        <div class="row show-grid">
                <div class="col-sm-8">
                        <h3> Details</h3>
                </div>
                <div class="col-sm-4" align="right">
                   <a href="{% url 'enquiry:enquiry_detail' activity.enquiry.pk %}"> <mark> #{{activity.enquiry.code}} </mark></a>
                </div>
        </div>
    </div>
    <div class="block">
        <div class="row show-grid">
     
           <div class="col-sm-12 col-xs-12 table-responsive" style="">
                   
                    <table class="table table-bordered" style="margin-top:20px;">
                       <thead>
                            <tr>
                                <th><h4>Activity</h4></th>
                                <th><h4>{{activity.type}}</h4></th>
                            </tr>
                            <tr>
                                <th><h4>Date</h4></th>
                                <th><h4>{{activity.date}}</h4></th>
                            </tr>
                            <tr>
                                <th><h4>Employee</h4></th>
                                <th><h4>{{activity.employee}}</h4></th>
                            </tr>
                            <tr>
                                <th><h4>Remark</h4></th>
                                <th><h4>{{activity.remark}}</h4></th>
                            </tr>
                            <tr>
                                <th><h4>Next Followup Date</h4></th>
                                <th><h4>{{activity.next_follow_up_date}}</h4></th>
                            </tr>

                        </thead>
                     </table>
            </div>
          

        </div>
    </div>
</div>




<!--Modal -->


               
                            
   


{% endblock content %} 

{% block jsscript %}
{% endblock jsscript %}

