{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}

{% block head %}
<style>
form#activiy-form {
    padding: 10px;
}
form#activiy-form .form-group:after {
    clear:both;
}
</style>
{% endblock head %}
{% block content %}
<div class="blank">
    <div class="grid-form1">
        <p align="right"><a href="{% url 'enquiry:enquiry_detail' enquiry.id %}">Cancel</a></p>
        <h4 style="margin-top:20px;">
        {{type}} Activity {% if type == "Edit" %} for <b>{{ enquiry.code }}</b>{% endif %}
        <hr>
        </h4>
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form id="activity-form" class="" action="{{form_url}}" method="post">
                    {% csrf_token %}
                    {{ activity_form.non_field_errors }}
                    {{ activity_form.field_errors }}
                    <div class="form-group">
                        <label class="control-label col-md-2">{{ activity_form.type.label}}</label>
                        <div class="col-md-4">
                            {{ activity_form.type.errors }}{{ activity_form.type }}
                             
                        </div>
                         <div class="col-md-1">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#filter-modal"><i class="fa fa-plus"></i></button>
                         </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ activity_form.date.label}}</label>
                        <div class="col-sm-4">
                            {{ activity_form.date.errors }}{{ activity_form.date }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-md-2">{{ activity_form.remark.label}}</label>
                        <div class="col-md-4">
                            {{ activity_form.remark.errors }}{{ activity_form.remark }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">{{ activity_form.next_follow_up_date.label}}</label>
                        <div class="col-md-4">
                            {{ activity_form.next_follow_up_date.errors }}{{ activity_form.next_follow_up_date }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">{{ activity_form.employee.label}}</label>
                        <div class="col-md-4">
                            {{ activity_form.employee.errors }}{{ activity_form.employee }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7">
                            <p align="right"><button class="btn-primary btn">Save</button></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--modal-->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Activity Type</h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'enquiry:create_activity_type' enquiry.pk %}" method="post"> {% csrf_token %}
                <div class="row">
                   
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">{{ activity_type_form.name.label }}
                            </label>
                            {{ activity_type_form.name }}
                        </div>
                    </div>
                   
                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>  
                </div>
                <div class="clearfix"></div>
            </form>
          </div>
          <div class="modal-footer">
            
          </div>
    </div>
  </div>
</div>


    
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>    
$(document).ready(function() {
    $('#id_date').daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        // calender_style: "picker_4",
        minDate: new Date(),
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD h:mm',
        },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
        $('#id_next_follow_up_date').daterangepicker({
        singleDatePicker: true,
        // timePicker: true,
        // calender_style: "picker_4",
        minDate: new Date(),
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
        },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });

});
</script>
<script>
$("#employee").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select employee",


});
$("#id_type").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Selec Type",


});

</script>
{% endblock jsscript %}
