<div class="form-group col-sm-4" style="margin-left: 0px; margin-right: 0px;" :class="{'has-error': errors.has('product') }">
            <select class="form-control" v-model="item.product" name="product"  v-validate.initial data-vv-rules="required">
                <option value>Select a Product</option>
                <option v-for="(prod,index) in products" :disabled="selected.includes(prod.id)" :value="prod">
                     {{ prod.name }}
                </option>
            </select>
            <span v-show="errors.has('product')" class="help-block">
                    <i class="fa fa-warning"></i>{{ errors.first("product") }}
            </span>
    </div>
    <div class="form-group col-sm-6">
        <label>Details: </label>
        <input type="text" class="form-control" v-model="item.description">
    </div>
    <div class="form-group  col-sm-4">
        <label>Price: </label>
        <b>{{ item.price }}</b>
    </div>
    <div class="form-group col-sm-4">
        <label>Quantity: </label>
        <input type="number" min="1" class="form-control" v-model="item.quantity">
    </div>
    <div class="form-group col-sm-4">
        <label>Total: </label>
        <b> {{ item.total }} </b>
    </div>
    
    <div class="clearfix"></div>
    <button class="btn btn-success btn-xs" @click.prevent="add_item">
        <i class="fa fa-check-circle fa-2x"></i>
    </button>