<template src='./edit.template.html'></template>

<script>
import CustomerSelect from 'components/ajax-select2.vue'
import Items from './items.vue'
import Activities from './activities.vue'
import { mapGetters, mapActions, mapMutations } from 'vuex'


export default {
	// delimiters: ['{{', '}}'],
	name: 'edit-enquiry',
	data() {
		return {
			enquiry: {
				type: null,
				status: null,
				customer: {},
				note: '',
				reason_for_lost: '',
				follow_up_date: null,
				items: [],
				activities: [],
				amount: 0.00,  
			},

			// choices: {
			//   statuses: [],
			//   default_status: '',
			//   types: [],
			//   default_type: '',
			//   customers: [],
			//   products: [],
			// },
		}
	},

	computed:{
		...mapGetters({
			choices: 'choices',
		}),
	},

	components: { 
		'items': Items,
		Activities,
		CustomerSelect
	},

	created(){
		console.log('created edit-enquiry', this.enquiry)
		if(!this.choices.statuses.length)
			this.setDefaults()
	},

	methods: {
		set_defaults(){
			if(!this.enquiry.type)
				this.enquiry.type = this.choices.default_type[0]
			if(!this.enquiry.status)
				this.enquiry.status = this.choices.default_status[0]
		},
		
		saveEnquiry: function(e){
			console.log(e)
			// var method = 'POST'
			// var url = '/api/enquiries/'
			// if (this.enquiry.id){
			// 	url += this.enquiry.id + '/'
			// 	method = 'PUT'
			// }
			// this.loading()

			this.$store.dispatch('postEnquiry', this.enquiry)
				.then(() => {
					this.$validator.errorBag.clear()
					this.$router.push({name: 'enquiries'})
				})
				.catch( error =>  {
					console.log(error)
					if (error.response) {
						if(error.response.status == 400){
							this.$validator.errorBag.clear()
							this.handle_validation_errors(error.response.data)
						}
					}
				})
			// this.$http({
			// 	method: method,
			// 	url: url,
			// 	data: this.formData()
			// }).then( response =>  {
			// 	console.log(response)
			// 	this.$validator.errorBag.clear()
			// 	this.insertEnquiry({enquiry: response.data, created:true})
			// 	// this.$emit('enquiry_saved', response.data, response.statusText)
			// 	// this.enquiries.push(response.data)
			// 	// this.enquiry = {}
			// 	this.loaded()
			// 	this.$router.push({name: 'enquiries'})

			// })
			// .catch( error =>  {
			// 	console.log(error)
			// 	if (error.response) {
			// 		if(error.response.status == 400){
			// 			this.$validator.errorBag.clear()
			// 			this.handle_validation_errors(error.response.data)
			// 		}
			// 	}
			// 	this.loaded()

			// })
		},

		formData() {
			return { 
				'type': this.enquiry.type,
				'status': this.enquiry.status,
				'note': this.enquiry.note,
				'follow_up_date': this.enquiry.follow_up_date,
				'reason_for_lost': this.enquiry.reason_for_lost,
				'customer': this.enquiry.customer,
				'items': this.format_items(),
				'activities': this.enquiry.activities.length ? this.enquiry.activities : null ,
				'amount': this.enquiry.amount
			}
		},

		format_items(){
			if (this.enquiry.items.length == 0)
				return null
			var items = this.enquiry.items.map((item) => {
				let i = Object.assign({}, item)
				i['product'] = item.product.id
				return i
			})
			return items

		},

		handle_validation_errors(errors){
			var vm = this
			vm.$validator.errorBag.clear()
			vm.update_error_bag(errors)
		},

		update_error_bag(errors){
			var vm = this
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach(function(error_msg){
						vm.$validator.errorBag.add(key, error_msg)
					})
				}else{
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		},

		cancel(i = -1){
			return this.$router.go(i)
		},

		...mapActions([
			'postEnquiry' // map this.increment() to this.$store.dispatch('increment')
		]),
		...mapMutations({
			setDefaults : 'SET_ENQUIRY_OPTION_DEFAULTS',
			insertEnquiry : 'INSERT_ENQUIRY',
			loading : 'loading',
			loaded : 'loaded',
			updateFIELD : 'SET_ENQUIRY_FIELD'
		}),
	}
}
</script>