<template>
	<li class="enquiry">
		<span class="index"> {{ index + 1 }}</span>
		<div class="customer">
			<span class="customer-name">
				<strong>{{ enquiry.customer.name }}</strong>, {{ enquiry.customer.address.city }}
			</span>
			<br>
			<span class="label type" :class="typeClass" >{{ enquiry.type }}</span>
			<span class="label status" :class="statusClass">{{ enquiry.status }}</span>
		</div>
		<span class="enquiry-view-link">
			<router-link class="btn btn-link" :to="{ name:'enquiry', params:{ id: enquiry.id}}">
				<i class="fa fa-info-circle fa-fw"></i>View
			</router-link>
		</span>
		<span class="right">
			<span class="btn btn-link created_on" data-toggle="tooltip" title="Created On" data-placement="left">{{ enquiry.created_at | human-date }}</span> | 
			<span class="btn btn-link updated_on" data-toggle="tooltip" title="Updated On" data-placement="left">{{ enquiry.updated_at | human-date }}</span>
			<br>
			<span class="label label-success amount" v-html="money(enquiry.amount)"></span>
		</span>
		<div class="clearfix"></div>
	</li>   
</template>
<template>
	<li class="enquiry">
		<span class="index"> kl</span>
		<div class="customer">
			<span class="customer-name">
				<strong>{{ enquiry.customer.name }}</strong>, {{ enquiry.customer.address.city }}
			</span>
			<br>
			<span class="label type" :class="typeClass" >{{ enquiry.type }}</span>
			<span class="label status" :class="statusClass">{{ enquiry.status }}</span>
		</div>
		<span class="enquiry-view-link">
			<router-link class="btn btn-link" :to="{ name:'enquiry', params:{ id: enquiry.id}}">
				<i class="fa fa-info-circle fa-fw"></i>View
			</router-link>
		</span>
		<span class="right">
			<span class="btn btn-link created_on" data-toggle="tooltip" title="Created On" data-placement="left">{{ enquiry.created_at | human-date }}</span> | 
			<span class="btn btn-link updated_on" data-toggle="tooltip" title="Updated On" data-placement="left">{{ enquiry.updated_at | human-date }}</span>
			<br>
			<span class="label label-success amount" v-html="money(enquiry.amount)"></span>
		</span>
		<div class="clearfix"></div>
	</li>   
</template>
<script>
import {  mapMutations } from 'vuex'
import Vue from 'vue'
import $ from 'jquery'
import 'bootstrap'
export default {
		
	name: 'enquiry-list-item',
	
	props: {
		enquiry: Object,
		index: Number,
	},

	data(){
		return {
			typeBadgeClass: {
				hot: 'type-hot',
				cold: 'type-cold',
				hostile: 'type-hostile',
			},
			statusBadgeClass: {
				open: 'status-open',
				close: 'status-closed',
				rejected: 'status-rejected',
			}
		}
	},
	
	created(){
		console.log('created enquiry-list-item')
		// this.get_enquiries();
	},
	mounted(){
		$('[data-toggle="tooltip"]').tooltip()
	},

	computed: {
		typeClass(){
			// console.log(this.typeBadegClass)
			return this.typeBadgeClass[this.enquiry.type]
		},
		statusClass(){
			return this.statusBadgeClass[this.enquiry.status]
		},
	},

	methods:{
		money(amount){
			return Vue.filter('rupees')(amount)
		},
		
			// get_enquiries: function(){
			//   // this.new_enquiry = Object.assign({}, this.new_enquiry, enquiry); 
			//   var vm = this;
			//   this.$http.get('/api/enquiries/')
			//   .then( response =>  {
			//     // console.log(response);
			//     vm.enquiries = response.data;
			//   })
			//   .catch( error => {
			//     console.log(error);
			//   });
			// },
		...mapMutations({     
			loading : 'loading',
			loaded : 'loaded',
		}),
	},


}    
</script>

<style>
ul.enquiry-list li.enquiry {
		padding: 5px;
		border: 1px solid #f1efef;
		box-shadow: 2px 2px 2px #dcd9d9;

}   
ul.enquiry-list li.enquiry .customer, ul.enquiry-list li.enquiry .label {
		display: inline-block;
}
ul.enquiry-list li.enquiry .index {
		padding: 3px;
		display: inline-block;
		vertical-align: top;
}
ul.enquiry-list li.enquiry span.right {
		float: right;
		text-align: right;
}
li.enquiry .type-hot {
	background-color: #df0c14;
	font-size: 16px;
}
li.enquiry .type-cold {
	background-color: #8ddef5;
	font-size: 14px;
}
li.enquiry .type-hostile {
	background-color: red;
	font-size: 12px;
}

li.enquiry .status-open {
	background-color: #2fd22f;
	font-size: 16px;
}
li.enquiry .status-closed {
	background-color: #8ddef5;
	font-size: 14px;
}
li.enquiry .status-rejected {
	background-color: red;
	font-size: 12px;
}
span.enquiry-view-link a {
	vertical-align: top;
	border: 1px solid #337ab7;
	border-radius: 18px;
	padding: 0px 5px;
}
li.enquiry span.created_on span.updated_on {
	font-size: 0.8em;
}

</style>