<template src='./detail.template.html'></template>

<script>
import Items from './items.vue'
import Activities from './activities.vue'
import OptionBox from 'components/horizontal-select-box.vue'

export default {
	name: 'enquiry-detail',
	// name: 'edit-enquiry',
	data() {
		return {
			enquiry: {
				type: null,
				status: null,
				contact: {},
				note: '',
				reason_for_lost: '',
				items: [],
				activities: [],
				amount: 0.00,  
			},
			reason_for_lost: '',
			note: '',
			choices: {
				statuses: [],
				default_status: '',
				types: [],
				default_type: '',
				activity_types: [],
				priorities: [],
				default_priority: '',
				products: [],
			},
			typeDisabled: false,
			statusDisabled: false,
			editReasonForLost: false,
			editNote: false,
		}
	},

	components: { 
		Items,
		Activities,
		OptionBox
	},

	computed: {
		statusOptions(){
			return this.choices.statuses.map( status => {
				return { value: status[0], text: status[1] }
			})
		},
		typeOptions(){
			return this.choices.types.map( type => {
				return { value: type[0], text: type[1] }
			})
		},
		priorityOptions(){
			return this.choices.priorities.map( priority => {
				return { value: priority[0], text: priority[1] }
			})
		},
	},  

	created(){
		this.getEnquiryOptions()
		if(window.enquiry)
			this.enquiry = window.enquiry
	},

	methods: {
		getEnquiryOptions() { 
			this.$http.get('/api/enquiries/choices')
				.then( response => {
					this.choices.statuses = response.data.statuses
					this.choices.default_status = response.data.default_status
					this.choices.types = response.data.types
					this.choices.default_type = response.data.default_type
					this.choices.customers = response.data.customers
					this.choices.priorities = response.data.priorities
					this.choices.default_priority = response.data.default_priority
					this.choices.products = response.data.products
					this.choices.activity_types = response.data.activity_types
					// this.get_enquiry()
				})
				.catch(error => {
					this.loading = false
					console.log(error)
				})
			return
		},

		saveEnquiry: function(e){
			console.log(e)
			var method = 'POST'
			var url = '/api/enquiries/'
			if (this.enquiry.id){
				url += this.enquiry.id + '/'
				method = 'PUT'
			}
			// console.log(vm.formData())
			this.http({
				method: method,
				url: url,
				data: this.formData()
			})
			.then( response =>  {
				console.log(response)
				this.$validator.errorBag.clear()
				this.$emit('enquiry_saved', response.data, response.statusText)
				// this.enquiries.push(response.data)
				// vm.new_enquiry = {}
			})
			.catch( error =>  {
				console.log(error)
				if (error.response) {
					if(error.response.status == 400)
						this.handle_validation_errors(error.response.data)
				}
			})
		},

		formData() {
			return { 
				'type': this.enquiry.type,
				'status': this.enquiry.status,
				'note': this.enquiry.note,
				'follow_up_date': this.enquiry.follow_up_date,
				'reason_for_lost': this.enquiry.reason_for_lost,
				'customer': this.enquiry.customer,
				'items': this.format_items(),
				'activities': this.enquiry.activities.length ? this.enquiry.activities : null ,
				'amount': this.enquiry.amount
			}
		},

		format_items(){
			if (this.enquiry.items.length == 0)
				return null
			var items = this.enquiry.items.map((item) => {
				let i = Object.assign({}, item)
				i['product'] = item.product.id
				return i
			})
			return items
		},

		delete_enquiry(){
			if(confirm('Delete enquiry for ' + this.enquiry.contact.name)){
				this.$http.delete('/api/enquiries/' + this.enquiry.id)
				.then( response => {
					// this.get_enquiry()
					window.location = '/enquiries'
					console.log(response)
				})
				.catch(error => {
					this.loading = false
					console.log(error)
				})
			}
		},

		updateProp(prop, obj, cb){
			let data = {}
			data[prop] = obj.value
			this.$http.patch(
				'/api/enquiries/' + this.enquiry.id + '/',
				data
			).then(response => {
				console.log(response)
				// window.location.assign(window.location.href)
				this.$set(this.enquiry, prop, obj.value)
				if(cb && typeof cb == 'function') {
					cb()
				}
				// this.enquiry.status = status
			})
			.catch( error => {
				console.log(error)
				if (error.response) {
					if(error.response.status == 400)
						this.apiErrors = error.response.data
				}
			})
		},

		edit_reason_for_lost(e){
			console.log('editReasonForLost', e)
			if (confirm('Status will be updated to rejected!')){
				this.editReasonForLost = true
			}
		},

		toggleEditReasonForLost(){
			this.editReasonForLost = true
			this.reason_for_lost = this.enquiry.reason_for_lost
		},

		updateReasonForLost(){
			this.updateProp('reason_for_lost', {value: this.reason_for_lost}, () => {
				this.reason_for_lost = ''
				this.editReasonForLost = false
				this.enquiry.status = 'rejected'
			})
		},

		cancelReasonForLost(){
			this.reason_for_lost = ''
			this.editReasonForLost = false
		},


		toggleEditNote(){
			this.editNote = true
			this.note = this.enquiry.note
		},

		updateNote(){
			this.updateProp('note', {value: this.note}, () => {
				this.note = ''
				this.editNote = false
			})
		},

		cancelNote(){
			this.note = ''
			this.editNote = false
		},

		handle_validation_errors(errors){
			var vm = this
			vm.$validator.errorBag.clear()
			vm.update_error_bag(errors)
		},

		update_error_bag(errors){
			var vm = this
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach(function(error_msg){
						vm.$validator.errorBag.add(key, error_msg)
					})
				}else{
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		}
	}
}
</script>
<style>
.fade-enter-active, .fade-leave-active {
	transition: opacity .3s ease
}
.fade-enter, .fade-leave {
	opacity: 0
}
#enquiry label {
	color: #000;
	font-size: 16px;
	font-weight: 500;
}
#enquiry span.note, #enquiry span.reason-for-lost {
	border: 1px solid #e3e3e3;
	width: 100%;
	min-height: 100px;
	padding: 10px;
	display: inline-block;
}
#enquiry #reason-for-lost .warning {
	display: inline-block; color: #fe4e4e; font-size: 12px;
}
</style>