<template>
<div class="gutter-10 row">
	
	<div class="col-sm-12">
		<div class="form-group" id="items" :class="{'has-error': errors.has('items') }">
			<legend>
				Items:
	      <a href="/products/create" class="btn btn-link">Add Product</a>
			</legend>

			<ul class="list-group" v-show="items.length">
				<li class="list-group-item">
					<div class="gutter-10 row">
						<div class="col-xs-4">
							<label class="control-label">Product</label>
						</div>
						<div class="col-xs-2">
							<label class="control-label">Price</label>
						</div>
						<div class="col-xs-2">
							<label class="control-label">Quantity</label>
						</div>
						<div class="col-xs-2">
							<span class="pull-right"><label class="control-label">Amount</label></span>
						</div>
					</div>
				</li>
				<item v-for="(item, index) in items"
							:index="index"
							:item="item"
							:key="index + 1"
							:products="products"
							:val-errors="valErrors[index]"
							@remove="remove(index)"
				></item>
				<li class="list-group-item item">
					<div class="gutter-10 row">
						<div class="col-xs-4">
							<button class="btn btn-link add" @click.prevent="add_item">
								<i class="fa fa-plus"></i> Item
							</button>
						</div>
						<div class="col-xs-6">
							<div class="total">
								<label>Total: </label>
								<span v-html="total"></span>
							</div>
						</div>
						<div class="clearfix"></div>  
					</div>
				</li>
					
			</ul>
			<span v-show="errors.has('items')" class="help-block">
				<i class="fa fa-warning"></i>{{ errors.first("items") }}
			</span>
			<!-- <transition name="fade">
				<edit-item :item="editItem"
									 :products="products"
									 v-if="show_form"
									 @add_item.self="insert_item"
				></edit-item>
			</transition> -->
			
		</div>
	</div>
</div>

</template>

<script>
import Vue from 'vue'
import Item from './item/item.vue'
// import EditItem from './edit_item.vue'
// import { mapState, mapGetters, mapMutations } from 'vuex'

export default {
	name: 'items',
	props: ['valErrors', 'products', 'items', 'value'],
	data(){
		return {
			show_form: false,
			item_products: [],
			editItem: null,
			count: 0
		}
	},

	components: {
		Item,
	},

	computed:{
		total(){
			if(!this.items.length)
				return 0
			var total = this.items.reduce((a, item) => {
				return a + item.price * item.quantity
			}, 0)
			this.$emit('input', total)
			return Vue.filter('rupees')(total)
		},
	},

	created(){
		console.log('created edit-enquiry-items')
		if(!this.items.length)
			this.add_item()
		// this.item_products = JSON.parse(JSON.stringify(this.products))
		// this.item_products.forEach( product => { 
		//  this.$set(product, 'selected', false)
		// })
	},

	watch:{
		valErrors(){
			this.$validator.errorBag.clear()
			if(this.valErrors.length && typeof(this.valErrors[0]) === 'string')
				this.$validator.errorBag.add('items', this.valErrors[0])
		}
	},    

	methods: {
		add_item() {
			// this.editItem = JSON.parse(JSON.stringify({
			//  id: "",
			//  product: {},
			//  price: 0.00,
			//  quantity: 1,
			//  total: 0,
			//  description: null,
			// }))
			console.log(this.editItem)
			this.items.push({
				id: '',
				product: {},
				price: 0.00,
				quantity: 1,
				total: 0,
			})
			this.toggle_form()    
		},

		toggle_form(){
			this.show_form = !this.show_form
		},

		insert_item(){
			this.editItem = null
			this.toggle_form()
			// this.items.push(this.editItem)

		},

		remove(index){
			this.items.splice(index, 1)
		},
	}

}
</script>

<style>
.fade-enter-active, .fade-leave-active {
	transition: opacity .3s ease
}
.fade-enter, .fade-leave {
	opacity: 0
}
/*10px gutter*/
.gutter-10.row {
	margin-right: -5px;
	margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
	padding-right: 5px;
	padding-left: 5px;
}
/* 0px gutter*/
.gutter-0.row {
	margin-right: 0;
	margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
	padding-right: 0;
	padding-left: 0;
}

a.done {
	color: #5cb85c;
	border-color: #4cae4c;
	margin-left: 10px;
}
a.done:hover {
	color: #449d44;
	border-color: #398439;
}
#items button.add {
	float: left;
}
button.add {
	color: #5cb85c;
	border-color: #4cae4c;
	margin-left: 10px;
}
button.add:hover {
	color: #449d44;
	border-color: #398439;
}
#items .total {
	float: right;
}
/*.expand-enter-active, .expand-leave {
	width: 100%;
	transition: all .8s ease;
}
.expand-leave-active {
	transition: all .8s ease;
}
.expand-enter, .expand-leave-active {
	width: 0;
}*/
</style>