<template src='./list.template.html'></template>

<script>
import Loader from 'components/loader.vue'
import Paginate from 'components/paginate.vue'
import OrderBy from 'components/order_by.vue'
import FilterBy from 'components/filter-by.vue'
import ListItem from './list-item.vue'
import utils from 'contrib/utils'
import $ from 'jquery'
import 'bootstrap'
import pluralize from 'pluralize'

const All = 'All'

export default {
	
	name: 'enquiry-list',
	
	// props: ['enquiries'],

	data(){
		return {
			searchQuery: '',
			type: All,
			sortBy: [],
			order_by_list: [],
			loading: false,
			enquiries: [],
			pagination:{
				count: 0,
				current: 1,
				page_size: 3,
				link_range: 3,
			},
			choices: {
				statuses: [],
				default_status: '',
				types: [],
				default_type: '',
				customers: [],
				products: [],
			},
			query: [],
			filterable_data: {
				type: {
					conjoined: true,
					filter: false,
					options: []
					// options: [
					// 	['hot', 'HOT'], ['cold', 'COLD'], ['hostile', 'HOSTILE']
					// ] 
				},
				status: {
					conjoined: false,
					filter: false,
					options: []
					// options: [
					// 	['open', 'OPEN'], ['close', 'CLOSE'], ['rejected', 'REJECTED']
					// ] 
				},
			}	
		}
	},

	created(){
		console.log('created enquiry-list')
		// this.get_enquiries();
		this.loading = true
		this.getEnquiryOptions()
	},

	mounted(){
		$('.dropdown-toggle').dropdown()
	},

	components: {
		ListItem,
		Paginate,
		FilterBy,
		OrderBy,
		Loader
	},

	computed: {
		selectedType(){
			return this.type == All ? All : this.choices.types.find( type => type[0] == this.type )[1]
		},
	},

	methods:{
		setQuery(){
			var search_query = window.location.search
			if(search_query){
				if(search_query.indexOf('?') > -1)
					search_query = search_query.substr(1)
				
				var searchQueryStrings = [search_query]
				if(search_query.indexOf('&') > -1)
					searchQueryStrings = search_query.split('&')
				
				searchQueryStrings.forEach(qs => {
					var query_array = qs.split('=')
					var obj = {}
					obj[query_array[0]] = query_array[1]
					this.query.push([query_array[0], query_array[1]])
					console.log(query_array, this.filterable_data[query_array[0]])
					// this.choices[pluralize.plural(query_array[0])].find(option => option[0] == query_array[1] )[2] = true
					if(this.filterable_data[query_array[0]]){
						var index = this.filterable_data[query_array[0]].options.findIndex(option => option[0] == query_array[1] )
						this.$set(this.filterable_data[query_array[0]].options[index], 2, true)
					}
				})
			}
			console.log(search_query, this.query)
			this.get_enquiries()

		},

		getPage(page){
			this.pagination.current = Number(page)
			var index = this.query.findIndex( query => {
				return query[0] == 'page'
			})
			if(index > -1)
				this.query.splice(index,1)

			this.query.push(['page', page ])
			this.get_enquiries()
		},

		query_by(prop, value, remove = false){
			console.log(prop, value, remove)
			if(remove)
				this.removePropFromQuery(prop, value)
			else
				this.query.push([prop, value ])
			this.get_enquiries()
		},

		removePropFromQuery(prop, value){
			var index = this.query.findIndex( query => {
				console.log(query, prop, value)
				return query[0] == prop && query[1] == value
			})
			
			if(index > -1)
				this.query.splice(index,1)
		},

		get_url(){
			
			var queryString = utils.prepareQueryString(this.query)
			var url = window.location.protocol + '//' + window.location.host + window.location.pathname
			
			window.history.pushState({}, '', url + queryString)

			console.log(this.query, url, queryString)
			return '/api/enquiries/' + queryString
		},

		// sort_by_type(prop, value){
		// 	if (typeof(query) == 'object' && query.hasOwnProperty('type')){
		// 		this.type = query.type
		// 		if(this.type == All){
		// 			this.sort_by({refresh: true})
		// 			// /this.$router.push({name: 'enquiries', query: {} })
		// 		}else
		// 			this.sort_by(query)
		// 	}
		// },
		
		order_by(ordering_list){
			console.log(ordering_list)
		},
		
		getEnquiryOptions() { 
			this.$http.get('/api/enquiries/choices')
				.then( response => {
					this.choices.statuses = response.data.statuses
					this.choices.default_status = response.data.default_status
					this.choices.types = response.data.types
					this.choices.default_type = response.data.default_type
					this.choices.customers = response.data.customers
					response.data.products.forEach( product => { 
						this.$set(product, 'disabled', false)
					})
					this.choices.products = response.data.products
					this.choices.activity_types = response.data.activity_types
					
					this.setFilterableFields()
					this.setQuery()

				})
				.catch(error => {
					this.loading = false
					console.log(error)
				})
			return
		},

		setFilterableFields(){
			for (var prop in this.choices){
				var key = pluralize.singular(prop)
				if(this.filterable_data.hasOwnProperty( key )) {
					this.choices[prop].forEach(choice => {
						choice.push(false)
					})
					this.filterable_data[key]['options'] = this.choices[prop]
					this.filterable_data[key]['filter'] = false
				}
			}

		},

		get_enquiries: function(){
			// this.new_enquiry = Object.assign({}, this.new_enquiry, enquiry); 
			this.loading = true
			var url = this.get_url()
			var vm = this
			this.$http.get(url)
			.then( response =>  {
				// console.log(response);
				vm.enquiries = response.data.results
				vm.edit_customer_url = response.data.form_url
				vm.pagination.count = response.data.count
				vm.pagination.page_size = response.data.page_size
				
				this.loading = false
			})
			.catch( error => {
				this.loading = false
				console.log(error)
			})
		},
	},


}    
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
ul.enquiry-list li.enquiry {
	padding: 5px;
		border: 1px solid #f1efef;
		box-shadow: 2px 2px 2px #dcd9d9;

}	
ul.enquiry-list li.enquiry .customer {
	display: inline-block;
}
ul.enquiry-list li.enquiry .index {
	padding: 3px;
	display: inline-block;
	vertical-align: top;
}
ul.enquiry-list li.enquiry span.right {
	float: right;
	text-align: right;
}
</style>