<template>
	<li class="enquiry">
		<div class="list-small" @click.prevent="expand">
			<span class="index"> {{ index + 1 }}</span>
			<div class="contact">
				<span class="contact-name">
					<strong>{{ enquiry.contact.name }}</strong>, {{ city.name }}
				</span>
				<p>{{ enquiry.note }}</p>
				<br>
				<span class="label type" :class="typeClass">{{ enquiry.type }}</span>
				<span class="label status" :class="statusClass">{{ enquiry.status }}</span>
			</div>
			
			<span class="right">
				<span class="created_on" data-toggle="tooltip" title="Updated On" data-placement="left">{{ enquiry.updated_at | human-date }}</span> | 
				<span class="updated_on" data-toggle="tooltip" title="follow up date" data-placement="left">{{ enquiry.follow_up_date | human-date }}</span>
				<br>
				<span class="label label-success amount" v-if="enquiry.money" v-html="money(enquiry.amount)"></span>
			</span>
			<div class="clearfix"></div>
		</div>
		<transition name="fade">
		<div class="list-item-more" v-show="show">
			<span class="enquiry-view-link">
				<a class="btn btn-link" :href="'/enquiries/' + enquiry.id + '/'">
					<i class="fa fa-info-circle fa-fw"></i>View
				</a>
			</span>
			<span class="enquiry-view-link">
				<a class="btn btn-link" :href="'/enquiries/' + enquiry.id + '/'">
					<i class="fa fa-plus fa-fw"></i> Invoice
				</a>
			</span>
			<span v-if="enquiry.can_create_quote" class="enquiry-view-link">
				<a class="btn btn-link" :href="'/quotation/create/?enq=' + enquiry.id">
					<i class="fa fa-plus fa-fw"></i> Quote
				</a>
			</span>
		</div>
		</transition>
	</li>   
</template>

<script>
import Vue from 'vue'
import $ from 'jquery'
import 'bootstrap'
export default {
		
	name: 'enquiry-list-item',
	
	props: {
		enquiry: Object,
		index: Number,
		showMore: {
			type: Boolean,
			default: false
		}
	},

	data(){
		return {
			typeBadgeClass: {
				hot: 'type-hot',
				cold: 'type-cold',
				hostile: 'type-hostile',
			},
			statusBadgeClass: {
				open: 'status-open',
				close: 'status-closed',
				rejected: 'status-rejected',
			},
			show: false
		}
	},
	
	created(){
		// console.log('created enquiry-list-item')
		// this.get_enquiries();
		this.show = this.showMore
	},
	mounted(){
		$('[data-toggle="tooltip"]').tooltip()
	},

	computed: {
		typeClass(){
			// console.log(this.typeBadegClass)
			return this.typeBadgeClass[this.enquiry.type]
		},
		statusClass(){
			return this.statusBadgeClass[this.enquiry.status]
		},

		city(){
			var addresses =  this.enquiry.contact.addresses.filter(address => {
				if(address.billing){
					return address
				}
			})
			return addresses.length ? addresses[0].city : ''
		}
	},

	methods:{
		money(amount){
			return Vue.filter('rupees')(amount)
		},

		expand(){
			this.show = !this.show	
		},
	}


}    
</script>

<style>
ul.enquiry-list li.enquiry {
		padding: 5px;
		border: 1px solid #f1efef;
		box-shadow: 2px 2px 2px #dcd9d9;

}   
ul.enquiry-list li.enquiry .contact, ul.enquiry-list li.enquiry .label {
		display: inline-block;
		font-weight: 500;
		border-radius: 1em;
		padding: 6px 10px;
}
ul.enquiry-list li.enquiry .index {
		padding: 3px;
		display: inline-block;
		vertical-align: top;
}
ul.enquiry-list li.enquiry span.right {
		float: right;
		text-align: right;
}
li.enquiry .type-hot {
	background-color: #df0c14;
	font-size: 12px;
}
li.enquiry .type-cold {
	background-color: #8ddef5;
	font-size: 12px;
}
li.enquiry .type-hostile {
	background-color: red;
	font-size: 12px;
}

li.enquiry .status-open {
	background-color: #2fd22f;
	font-size: 12px;
}
li.enquiry .status-closed {
	background-color: #8ddef5;
	font-size: 12px;
}
li.enquiry .status-rejected {
	background-color: red;
	font-size: 12px;
}
span.enquiry-view-link a {
	vertical-align: top;
	border: 1px solid #337ab7;
	border-radius: 18px;
	padding: 0px 5px;
}
li.enquiry span.created_on span.updated_on {
	font-size: 0.8em;
}

</style>