{% extends "erp_admin/base.html" %}
{% load static tz util%}
{% get_current_timezone as TIME_ZONE %}
{% block content %}

<style>
.card-style
{
    background-color:#fff!important;
    padding:10px;

}
.card-title-color
{
    color:#D9534F;
    font-size:15px!important;

}
.card-para-size
{
  font-size:20px;
  color: #000;



}
.mx{
  margin-top:7px;margin-bottom:30px;
}

.pdb1{
  padding-bottom:30px;
}




</style>
<!--banner-->
<div class="banner">
    <h2>
        
        <span>Dashboard</span>
    </h2>
</div>
<!--//banner-->
<!--content-->
<!--
 <div class="content-top">
     <div class="col-md-12 ">
     <h1>Dashboard</h1>
         <div class="row mx">

              <div class="col-md-3">

                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">All Leads</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label>{{all_leads}}</label></p>


                 </div>


             </div>
              <div class="col-md-3">
                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">Entry</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label>{{entry}}</label></p>


                 </div>


             </div>

              <div class="col-md-3">
                 <div class="card card-style">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">Document Submission & Approval</h4>

                   </div>

                    <p class="card-para-size" align="center"> <label>{{document_submission}}</label></p>


                 </div>

             </div>
             <div class="col-md-3">

                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">Processing And Fee Deposit</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label>{{processing_and_fee_deposit}}</label></p>


                 </div>


             </div>


       </div>

   </div>
 </div>
<div class="content-top">
     <div class="col-md-12 ">

         <div class="row mx">

             <div class="col-md-3">

                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">Application to University</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label>{{application_to_univeristy}}</label></p>


                 </div>


             </div>




             <div class="col-md-3">
                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">University Invitation Letter</h4>

                   </div>

                    <p class="card-para-size" align="center"> <label>{{univeristy_invitation_letter}}</label></p>


                 </div>


             </div>
             <div class="col-md-3">
                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">Visa Processing & Financials</h4>

                   </div>

                    <p class="card-para-size" align="center"> <label>{{visa_processing}}</label></p>


                 </div>


             </div>



             <div class="col-md-3">
                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">Travel Plan</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label>{{travel_plan}}</label></p>


                 </div>

             </div>


      </div>
 </div>
</div>


<div class="content-top">
     <div class="col-md-12 ">

         <div class="row mx">
          <div class="col-md-3">
                 <div class="card card-style">

                   <div class="card-block">
                     <h4 class="card-title card-title-color"> Landing Confirmation & Local Assistance</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label>{{landing_confirmation}}</label></p>


                 </div>


             </div>
         <div class="col-md-3">
                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color"> Referral</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label>{{referal}}</label></p>


                 </div>


             </div>



         <div class="col-md-3">
                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">Onhold</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label>{{onhold}}</label></p>


                 </div>

         </div>
              <div class="col-md-3">
                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color">Rejected</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label>{{rejected}}</label></p>


                 </div>

             </div>

      </div>
 </div>
</div>
-->

<div class="clearfix"></div>


<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <h4>Dashboard</h4>
            </div>
        </div>
        <div class="row show-grid" style="padding-right:15px;">
            <form id="form" action="/" method="post">
                {% csrf_token %}
                        <div class="col-sm-2">
                            <div class="form-inline">
                                <div class="form-group">
                                  <label>Select Branch</label>
                                </div>
                              </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-inline">
                                <div class="form-group" style="width: 100%;">
                                    <select class="form-control" name="office" id="office" required="required">

                                        {% for office in offices %}
                                        <option value="{{ office.id }}" {% compare_uuid current_office office.id %}>{{office}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>Select Month & Year </label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="month_year" class="form-control tdate" value="{{date_for_check1}}">
                        </div>

                        <div class="col-sm-3">
                            <input type="submit" name="search" value="Search" class="btn btn-primary">
                        </div>
            </form>
        </div>
        <div class="row show-grid" style="margin-top:30px;margin-bottom: 300px;">
            <div class="col-sm-6 col-md-12 col-xs-12">
                <div id="line-example"></div>

            </div>
            <div class="col-sm-6 col-md-12 col-xs-12">
                <div id="line-example1"></div>

            </div>
        </div>

        <!-- employee details -->
        <div class="row show-grid" style="margin-top:30px;margin-bottom: 300px;">
            

        </div>

    </div>
</div>


{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/raphael/raphael.js/' %}"></script>
<script src="{% static 'js/morris.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>


<script>
Morris.Bar({
  element: 'line-example',
   data: [
{% for key,value,b in x %}
    {"y":{{value}},"a":'{{key}}',"b":{{b}}},
{% endfor %}
],
xkey: 'a',
ykeys: ['b','y'],
labels: ['Processing Leads','Total Leads'],
lineColors: ['#34495E', '#ACADAC', '#3498DB'],



});


Morris.Bar({
  element: 'line-example1',
   data: [
{% for key,value,bb in xx %}
    {"yy":{{value}},"aa":'{{key}}',"bb":{{bb}}},
{% endfor %}
],
xkey: 'aa',
ykeys: ['bb','yy'],
labels: ['Processing Leads','Total Leads'],
lineColors: ['#34495E', '#ACADAC', '#3498DB'],



});
</script>
<script>
$(document).ready(function(){
        

    $('.tdate').daterangepicker({
      "singleDatePicker": true,
       "autoUpdateInput":false,
       "autoApply": true,
       "showDropdowns": true,
      locale: {
        format: 'MMMM YYYY',
      },

    }, function(start, end, label) {
      //console.log(start.toISOString(), end.toISOString(), label);
    });



    $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MMMM YYYY'));
    });

    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

});

</script>  
{% endblock jsscript %}