<html>
<body>

<form method="post" action="{{form_url}}" enctype="multipart/form-data" class="form-horizontal form-label-left">
{% csrf_token %}
employee create</br>
{{form1}}
{{form2}}
<input type="submit" value="submit">
</br></br>

</form>
</body>
</html>