{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
    <style type="text/css">
    i{
        cursor: pointer; cursor: hand;

    }

    </style>
{% endblock head %}
{% block content %}
    <div class="content-main">
        <div class="banner">
            <h2>
            <a href="">Approved Quotations</a>
            
            </h2>
            <div id="app">
            </div>
            
        </div>
        
        <div class="blank">
            <div class="col-md-12 tab-content tab-content-in">
                <div class="tab-pane active text-style" id="tab1">
                    <div class="inbox-right">
                        <div class="mailbox-content">
                            <div class="mail-toolbar clearfix" id="approved-quotation-list">
                                <h2></h2>
                                <table class="table">
                                    <thead>
                                       <th>Code</th>
                                       <th>Enquiry</th> 
                                       <th>Status</th>
                                       <th>Approved By</th>
                                       <th>View</th>
                                       <th></th>
                                       <th></th>
                                       

                                    </thead>
                                    <tbody>
                                        
                                        <tr class="table-row" v-for="(quotation, index) in quotations">

                                            <td>
                                                <% quotation.code %>
                                            </td>
                                            <td>
                                                <% quotation.enquiry.customer.code %> - <% quotation.enquiry.customer.name %>
                                            </td>
                                            <td>
                                                <% quotation.status %>
                                            </td>
                                            
                                             <td>
                                                <% quotation.approved_by.user.first_name %>
                                            </td>
                                            <td>
                                                <i class="fa fa-eye" aria-hidden="true" data-toggle="modal" v-bind:data-target="'#quotationModal-'+index"></i>
                                            </td>
                                            <!-- Modal -->
                                            <td>
                                                <div class="modal fade" v-bind:id="'quotationModal-'+index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">Quotation Details</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Code : <% quotation.code %></p>
                                                                <p>Created By : <% quotation.created_by.user.first_name %></p>
                                                                <p>Customer : <% quotation.enquiry.customer.name %></p>
                                                                <p>Status : <% quotation.status %></p>
                                                                <p>Approved By : <% quotation.approved_by.user.first_name %></p>
                                                                
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                                <!-- Modal -->
                                          

                                            <td>
                                            <button class="btn btn-danger btn-xs" @click="send_mail_to_customer(quotation)"> SEND <i class="fa fa-envelope"></i></button>
                                            </td>







                                        </tr>
                                        

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    
    
{% endblock content %}
{% block jsscript %}


<script type="text/javascript">

    var data = {
        quotations:{{quotations|safe}},
    };
    console.log(data)
    var quotationsVue = new Vue({
        delimiters: ['<%', '%>'],
        el: '#approved-quotation-list',
        data: data,
        methods: {

                created(){

                console.log("created edit-quotation");
                this.send_mail_to_customer();
                console.log("edit-quotation");

              },

            send_mail_to_customer: function(quotation){
                 if (quotation.send_mail == false )
                 {

                        fetch('/quote/'+quotation.code+'/mail/')  
                          .then(  
                            function(response) {  
                              if (response.status !== 200) {  
                                console.log('Looks like there was a problem. Status Code: ' +  
                                  response.status);  
                                return;  
                              }

                              // Examine the text in the response  
                              response.json().then(function(data) {  
                                 console.log(data);
                                 alert ('Mail deliverd successfully');


                                 

                              });  
                            }  
                          )  
                          .catch(function(err) {  
                            console.log('Fetch Error :-S', err);  
                          });

            }

            else
            {
                alert ('The email has already been send');

            }

                },

        }
    });
    console.log(quotationsVue.$data);
   
    </script>
    
{% endblock jsscript %}