{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %} {% block head %}
<style>
</style>
{% endblock head %}
{% block content %}
<div id="quotation-block"></div>
{% endblock content %} {% block jsscript %}

<script src="{% static 'js/bundles/vendor.bundle.js' %}"></script>
<script src="{% static 'js/bundles/quote.js' %}"></script>
<script>
$(document).ready(function(){
    // $("[data-toggle='tooltip']").tooltip()
});
</script>
{% endblock jsscript %}
