{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %} {% block head %}
<style>
</style>
{% endblock head %} {% block content %}
<div id="quotation-block" v-cloak>
    <div class="block">
        <edit-quotation v-show="edit_modal"
                      style="display: none;"
                      form-action="{% url 'enquiry:api:quotation-list' %}"
                      :new-quotation="new_quotation"
        >
        </edit-quotation>
    <div>
        
        
        <p align="left">
            <button @click="toggle_edit_form({})" class="btn btn-primary">New Quotation</button>
        </p>
        <p align="right">
            Sort By :  
            <select>
            <option>Create Time</option>
            <option>Date</option>
            <option>Customer Name</option>
            </select>
        </p>
    </div>
    </div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h3 style="padding-left: 15px;">All Quotations</h3>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Number</th>
                            <th>Reference</th>
                            <th>Customer Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(quotation, index) in quotations">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--<pre>{@ $data @} </pre>-->
</div>
{% endblock content %} {% block jsscript %}
<script>
// hello

{% if data %}
var quotations = {{ data | safe }};
{% else %}
var quotations = []; {% endif %}
</script>

<script src="{% static 'js/bundles/quote.js' %}"></script>
{% endblock jsscript %}
