{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %} {% block head %}
<style>
</style>
{% endblock head %} {% block content %}
<div id="quotation-block" v-cloak>
    
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-4">

             <h3>Estimate Details</h3>
        

            
                
            </div>
            <div class="col-sm-8">
            <p align="right"><i class="fa fa-edit"></i> | email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select>
            <option>Select More</option>
            <option>Convert To Sales Oredr</option>
            <option>Delete</option>
            </select>
            </p>
                
            </div>
        </div>


        
    </div>

    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-4">
            <h4>Quotation Number | date </h4><br>
            <h4>Customer Name</h4>

            
                
            </div>
            <div class="col-sm-8">
            
                
            </div>
        </div>

        
        
    </div>

    <!--<pre>{@ $data @} </pre>-->
</div>
{% endblock content %} {% block jsscript %}
<script>
// hello

{% if data %}
var quotations = {{ data | safe }};
{% else %}
var quotations = []; {% endif %}
</script>

<script src="{% static 'js/bundles/quote.js' %}"></script>
{% endblock jsscript %}
