<div v-show="edit_modal" style="display: none;">
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                <form role="form" method="post" class="form-horizontal" action="{% url 'enquiry:api:qutation-list' %}" @submit.prevent="saveQuotation($event)">
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Code:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="new_quotation.code">
                        </div>
                    </div>
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Enquiry:</label>
                        <div class="col-sm-10">
                            <select class="form-control" v-model="new_quotation.enquiry">
                                <option v-for="option in new_quotation_options.enquiries" :value="option[0]">
                                    {@ option[1] @}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Status:</label>
                        <div class="col-sm-10">
                            <select class="form-control" v-model="new_quotation.status">
                                <option v-for="option in new_enquiry_options.statuses" :value="option[0]">
                                    {@ option[1] @}
                                </option>
                            </select>
                        </div>
                    </div>
                   
                    
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
