{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% get_current_timezone as TIME_ZONE %}

{% block head %}
<style>
td span{
    font-size: 1em;
    padding: 0px;
}
.grid-form1{
    border: 0px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}

</style>
{% endblock head %}

{% block content %}

<form role="form" class="" action="{{ form_url }}" method="post" id="enquiry">
    {% csrf_token %}
    <div class="block">
      <div class="row">
          <div class="col-sm-12 col-xs-12">
              <a href="{% url 'enquiry:enquiry_detail' enquiry.pk %}" class="btn btn-warning">Back</a>
          </div>
      </div>
    </div>
    <div class="block">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Leads of </label>
              {{enquiry.customer.user.last_name}}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Lead Code: </label>
             
              {{ enquiry.code }}
            </div>
          </div>
          <!--
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Sales Person: </label>
              {{ enquiry.employee }}
            </div>
          </div>
        -->
        </div>
        <div class="row">
          
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">{{ enquiry_form.priority.label_tag }}</label>
              {{ enquiry_form.priority }}
              {{ enquiry_form.priority.errors }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">{{ enquiry_form.status.label_tag }}</label>
              {{ enquiry_form.status }}
              {{ enquiry_form.status.errors }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Remark for Rejection:</label>
              {{ enquiry_form.note }}
              {{ enquiry_form.note.errors }}
            </div>
          </div>
        </div>
    </div>
    <div class="block">
        
        
        
        <!--{{ item_formset.management_form }}
        {% if item_formset.non_form_errors %}
            {% for error in item_formset.non_form_errors %}
                <div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
            {% endfor %}
        {% endif %}-->
        
        <div id="products">
            <!--<div class="grid-form1">
                <label style="">Program</label>
                 <a href="{% url 'product:add_products' %}" style="font-size: 0.8em;">Add</a>

                <div class="">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Name<span class="req">*</span></th>
                                
                                <th>Fee(<i class="fa fa-inr"></i>)</th> 
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item_form in item_formset %}

                            <tr class="item">
                                <td style="min-width: 250px;">
                                    <div>
                                        {{ item_form.id }}
                                        {{ item_form.product }}
                                        {{ item_form.product.errors }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ item_form.price }}
                                        {{ item_form.price.errors }}
                                    </div>
                                </td>
                            
                                <td>{% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>                            
                </div>
            </div>-->
            <button type="submit" class="btn btn-primary" id="id_submit">Save</button>
        </div>  
    </div>    
</form>



{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
$(document).ready(function() {

    var contact_input = $("#id_contact");
    contact_input.select2({
      ajax: {
        url: "/api/contacts/select_list/",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            name: params.term, // search term
          };
        },
        processResults: function (data) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used
          console.log(data);
          return {
            results: data,
          };
        },
        cache: true
      },
      escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      minimumInputLength: 3,
      // templateResult: formatRepo, // omitted for brevity, see the source of this page
      // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
    });

    var employee_input = $("#id_employee");
    employee_input.select2({
      ajax: {
        url: "/api/employee/select_list/",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            employee_name: params.term, // search term
          };
        },
        processResults: function (data) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used
          console.log(data);
          return {
            results: data,
          };
        },
        cache: true
      },
      escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      minimumInputLength: 3,
      // templateResult: formatRepo, // omitted for brevity, see the source of this page
      // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
    });

    var amount = 0;
    $('.item').formset({
      prefix: '{{item_formset.prefix}}',
      addText: '<input type="button" class="btn btn-primary btn-xs" value="ADD PRODUCT">',
      deleteText: '<font color="red">REMOVE</font>',
      removed: setTotalAmount,
      added: initializeFields
    });

    function initializeFields(row){
        console.log("initializeFields", row)
        attachSelect2(row.find("select.product"))
    }

    function attachSelect2(select_box){
        console.log("attachSelect2", select_box)

        select_box.select2({
          placeholder: "Select",
          allowClear: true
        });
    }

    var products = $("#products");
    products.on('change input', function (event) {
        console.log(this, event)
        var ele = event.target
        var table_row = $(ele).parents('tr')
        // console.log('product:', table_row.find("select.product"))        
        var product = table_row.find("select.product")
        // table_row.find(".unit_price").html(unit_price)
        var rate_input = table_row.find(".price")
        console.log(rate_input.val())
        // if (!rate_input.val() || rate_input.val() < 0 || $(ele).is("select.product"))
        //     rate_input.val(0)
        
        var quantity_input = table_row.find(".quantity")

        var total_input = table_row.find(".total")

        total_input.prop("readonly", true)

        if(!quantity_input.val() || quantity_input.val() < 0)
            quantity_input.val(1)

        var rate = rate_input.val()
            quantity = quantity_input.val()
            
        if (product.val()) {
            var total = parseFloat(rate * quantity).toFixed(2)
            
            total_input.val(total)
            
            setTotalAmount()
        }
    });


    function setTotalAmount(){
        sub_totals = $('#products').find(".total")
        var amount = 0;
        sub_totals.each(function(index, subTotal){
            var st = $(subTotal).val();
            amount += parseFloat( (isNaN(st) || st == false ) ? 0 : st );
        });

        $("#sub-total").text(amount)
    }
        
    products.find("tr.item").each(function(index, item){
        initializeFields($(item))
    });


    function attachDateRangePicker(input_date){
        input_date.daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate:new Date(),

            locale: {
                format: 'YYYY-MM-DD',
            },
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    }

    $('input.datepicker').daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        showDropdowns: true,
        minDate:new Date(),

        locale: {
            format: 'YYYY-MM-DD H:mm',
        },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });

    $("#id_submit").click(function (e) {
      e.preventDefault()
      e.stopPropagation()

      var status = $("select#status").val();
      var remark = $("select#note").val();
      if (status == "c8a0070f-66ca-44a3-8554-d49674534995")
      {
        if(remark)
        {
          $("#enquiry").submit();
        }
        else
        {
          alert("Enter Remarks");

        }
      }
      else
      {
          $("#enquiry").submit();

      }

      // $.ajax({
      //   
      //   type:"POST",
      //   data: {
      //     'event_type': event_type
      //   },
      //   dataType: 'json',
      //   success: function (data) {
      //     if (data.is_taken) {
      //       alert("Event already exists!");
      //     }
      //     else {
      //         $('form.formid').submit()
      //     }

      //   }
      // });

  });



})
</script>

<script>

// $(document).ready(function() {
// $(".price").keydown(function(event) {
//     // Allow: backspace, delete, tab, escape, and enter
//     if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
//          // Allow: Ctrl+A
//         (event.keyCode == 65 && event.ctrlKey === true) || 
//          // Allow: home, end, left, right
//         (event.keyCode >= 35 && event.keyCode <= 39)) {
//              // let it happen, don't do anything
//              return;
//     }
//     else {
//         // Ensure that it is a number and stop the keypress
//         if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
//             event.preventDefault(); 
//         }   
//     }
// });
// })
</script>

{% endblock jsscript %}
