{% extends "erp_admin/base.html" %}
{% load static tz group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}


<style>
.btn {
    border-radius: 8px!important;
    }
.row{
    margin-left:5px;
    margin-right:5px;
}
.tdCenter {
    text-align:right; /* center textbox horizontally */
    vertical-align: middle; /* center textbox vertically */

}
.text_size{
    font-size:18px!important;
    color:#000000!important;
}
.lecolor
{
    color:#00ABE7!important;
}
.thcolor
{
color:#000;
}
mark {
    background-color:#00ABE7;
    color:#ffffff;
    border-radius:6px!important;
}
</style>
{% endblock head %} {% block content %}

<div>
    <div class="block">
        <div class="row show-grid">
                <div class="col-sm-8">
                        <h3 class="lecolor">Leads of {{enquiry}}</h3>
                </div>
                <div class="col-sm-4" align="right">
                    <mark> #{{enquiry.code}} </mark>
                </div>
        </div>
    </div>
    <div class="block">
        <div class="row show-grid">
     
           <div class="col-sm-12 col-xs-12 table-responsive" style="">

                    {% if not enquiry.student %}
                    <a href="{% url 'student:create' enquiry.pk %}" class="btn btn-primary btn-xs pull-right">Make Student <i class="fa fa-arrow-right"></i></a>
                    {% else %}
                     <a href="{% url 'student:detail' enquiry.student.pk %}" class="btn btn-primary btn-xs pull-right">Student Details<i class="fa fa-arrow-right"></i></a>
                    {% endif %}
                    <a href="{% url 'enquiry:edit' enquiry.pk %}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-edit"></i></a>
                    <h3>Details</h3>

                    <table class="table table-bordered" style="margin-top:20px;">
                       <tbody>
                            <tr>
                                <th><span class="thcolor">Candidate Name</span></th>
                                <th><span class="thcolor">{{enquiry.name_of_candidate}}</span></th>
                            </tr>
                            <tr>
                                <th><span class="thcolor">Contact Number</span></th>
                                <th><span class="thcolor">{{enquiry.contact_number}}</span><span class="thcolor"></th>
                            </tr>
                            <tr>
                                <th><span class="thcolor">Location</span></th>
                                <th><span class="thcolor">{{enquiry.location}}</span></th>
                            </tr>
                            <tr>
                                <th><span class="thcolor">Name Of College</span></th>
                                <th><span class="thcolor">{{enquiry.name_of_college}}</span></th>
                            </tr>
                            <tr>
                                <th><span class="thcolor">Year Of Passout</span></th>
                                <th><span class="thcolor">{{enquiry.year_of_passout}}</span></th>
                            </tr>
                            <tr>
                                <th><span class="thcolor">Course</span></th>
                                <th><span class="thcolor">{{enquiry.course}}</span></th>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">Created By :{{enquiry.employee}}</td>
                            </tr>


                        </tbody>
                     </table>
            </div>
           
           
            <div class="col-sm-12 col-xs-12 table-responsive" style="">
                  {% if enquiry.activities.count > 0 %} 
                    <h3>FolloW Up</h3>
                    <table class="table table-bordered" style="margin-top:20px;">
                       <thead>
                            <tr>
                                <th><span class="thcolor">Date</span></th>
                                <th><span class="thcolor">Activity</span><span class="thcolor"></th>
                                <th><span class="thcolor">Next Follow Up Date</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for activity in enquiry.activities.all %}
                            <tr>
                                <td>{{activity.date}}</td>
                                <td>{{activity.type}}</td>
                                <td>{{activity.next_follow_up_date}}</td>
                                <td>
                                    <a href="{% url 'enquiry:edit_activity' activity.pk %}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                    <a href="{% url 'enquiry:delete_activity' activity.pk %}" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a>
                                    <a href="{% url 'enquiry:view_activity' activity.pk %}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 {% endif %}
               <div style="padding-top:2%;">    
                <a href="{% url 'enquiry:add_activity' enquiry.pk %}" class="btn btn-primary btn-xs pull-right">Add Follow Up <i class="fa fa-plus"></i></a>
               </div>

            </div>
        

        </div>
    </div>
</div>




<!--Modal -->


               
                            
   


{% endblock content %} 

{% block jsscript %}
{% endblock jsscript %}

