{% extends "erp_admin/base.html" %}
{% load static tz util %} {% get_current_timezone as TIME_ZONE %}
{% block title %} Daily Report{% endblock title %}
{% block head %}
<style type="text/css">

.white{
color: #fff!important;
text-align: center!important;
}

.rw-style{
margin-right: 0px;
margin-left: 0px;
padding:15px;
}
.table>thead>tr>th{
    color: #2E86C1!important;
    font-size: 15px!important;
    
}
.head-syle{
    font-size:20px;
    color:#000;

}
@media print {

  a[href]:after {
    content: none!important;
  }
  .noprint{
    display:none!important;

  }
  }
</style>
{% endblock head %}
{% block content %}
<div class="block">
    <div class="row">
        <div class="col-sm-6 col-xs-6 col-lg-6 col-md-6" style="padding-left:30px;">
            <a href="{% url 'report:dashboard' %}">Back</a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">

             <a onclick="printDiv()" class="btn btn-primary btn-sm pull-right" target="_blank"> <i class="fa fa-print fa-fw"></i> Print</a>
             
        </div>
    </div>
    <div class="row show-grid">
        
            <div class="col-sm-6 col-xs-12">
                <h3>Enquires Based on Area Of Intrest</h3>
            </div>
        
    </div>
    
    <div class="row show-grid" style="padding-right:15px;">
        <form id="form" action="{% url 'enquiry:stream_wise_report' %}" method="post">
            {% csrf_token %}
            <div class="col-sm-3">
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="stream" id ="stream" required="required">
                            <option value=""> --FILTER BY AREA OF INTREST-- </option>
                            {% for stream in streams %}
                                <option value="{{ stream.id }}" {% compare_uuid current_stream stream.id %}>{{ stream }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <label>Select Month & Year </label>
            </div>
            <div class="col-sm-3">
                <input type="text" name="month_year" class="form-control tdate" value="{{date_for_check}}">
            </div>
            <div class="col-sm-2">
                <button type="submit" name="search" class="btn btn-primary"> <i class="fa fa-search"></i> Search</button>
            </div>
            <div class="col-sm-2">
                <a href="{% url 'enquiry:stream_wise_report' %}" name="search" class="btn btn-primary"> <i class="fa fa-refresh"></i> Referesh</a>
            </div>
        </form>
    </div>
</div>

<div class="block">
    <div class="row show-grid">
        <div class="col-sm-12">
        <div id="print_data">
            <div class="table-responsive">
            {% if stream_ob %}
           <div class="col-sm-6 head-syle">
             Stream : {{stream_ob}}
            </div>
            <div class="col-sm-6 head-syle" align="right"> 
             Date : {{date_for_check|date:'M/Y'}}
            </div>
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Leads (Contact)</th>
                        <th>Status</th>
                        <th>Priority</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enquiry in enquires %}
                        <tr class="">
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'enquiry:enquiry_detail' enquiry.pk %}">{{ enquiry.customer.user.first_name }} {{ enquiry.customer.user.last_name }}</a>
                            </td>
                            <td>
                                {% if enquiry.status == "REJECTED" %}
                                    <span class="label status status-open">Entry</span>
                                {% else %}
                                    <span class="label status status-open">{{ enquiry.status|title }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ enquiry.priority|title}}
                            </td>
                            
                        </tr>
                        {% empty %}
                        <tr><td colspan="8">No Leads </td></tr>
                    {% endfor %}
                    {% if count %}
                    <tr>
                        <td style="color:#065E9A; font-size:20px;"> Total : {{ count }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            </div>

        </div>
        </div>
        <div id="pagination" align="center">
            {{pagination|safe}}
        </div>
    </div>
</div>


{% endblock content %}
{% block scripts %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function(){
        

    $('.tdate').daterangepicker({
      "singleDatePicker": true,
       "autoUpdateInput":false,
       "autoApply": true,
       "showDropdowns": true,
      locale: {
        format: 'MMMM YYYY',
      },

    }, function(start, end, label) {
      //console.log(start.toISOString(), end.toISOString(), label);
    });



    $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MMMM YYYY'));
    });

    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

    $("#stream").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "SELECT AREA OF INTREST",

    });
});

</script>  
<script type="text/javascript">
    function printDiv() {    
    var printContents = document.getElementById('print_data').innerHTML;
    

    var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;
    
     window.print();
     document.body.innerHTML = originalContents;
    }
</script>     

{% endblock scripts %}
