<div v-show="edit_modal" style="display: none;">
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                <form role="form" method="post" class="form-horizontal" action="{% url 'enquiry:api:enquiry-list' %}" @submit.prevent="saveEnquiry($event)">
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="new_enquiry.name">
                        </div>
                    </div>
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Type:</label>
                        <div class="col-sm-10">
                            <select class="form-control" v-model="new_enquiry.type">
                                <option v-for="option in new_enquiry_options.types" :value="option[0]">
                                    {@ option[1] @}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Status:</label>
                        <div class="col-sm-10">
                            <select class="form-control" v-model="new_enquiry.status">
                                <option v-for="option in new_enquiry_options.statuses" :value="option[0]">
                                    {@ option[1] @}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Note: </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" v-model="new_enquiry.note"></textarea>
                        </div>
                    </div>
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Follow Up Date:</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" v-model="new_enquiry.follow_up_date">
                        </div>
                    </div>
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Reason for Lost</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" v-model="new_enquiry.reson_for_lost"></textarea>
                        </div>
                    </div>
                    <div class="form-group has-error has-success">
                        <label class="col-sm-2 control-label" for="exampleInputEmail3">Customer:</label>
                        <div class="col-sm-10">
                            <customer-select2 :options="new_enquiry_options.customers" v-model="new_enquiry.customer" style="width: 100%;">
                                <option value="">Enter Customer Name</option>
                            </customer-select2>
                            <!--<select2 v-pre  class="form-control" v-model="new_enquiry.customer"></select>-->
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
