<template>
	<div class="price">
		<transition name="fade">
			<span v-if="!edit"  v-html="currency()"></span>
			<span v-else>
				<input type="number" v-model="price" class="form-control" v-if="editable">
				<span v-show="errors.has('price')" class="help-block">
					<i class="fa fa-warning"></i>{{ errors.first('price') }}
				</span> 
			</span>
		</transition>
	</div>
</template>

<script>
// selector.append($("<option>", {product:"", text:"--"}))
import Vue from 'vue'

export default {
	name: 'item-price',
	props:{
		value: {
			type: [Number, String],
			default: 0.00
		},
		edit: {
			type: Boolean,
			default: false,
		},
		editable: {
			type: Boolean,
			default: true,
		},
	},
	data(){
		return {
			price: this.value
		}
	},
	created(){
	},

	computed:{
		currency(){
			return Vue.filter('rupees')(this.price)
		},
	},

	watch: {
		value(){
			this.price = this.value
		},
		price(){
			this.$emit('input', this.price )
		},
	},
}

</script>